@{
    ViewBag.Title = "Access Block";
}

<h1 class="text-danger">Access Blocked</h1>
<h2 class="text-danger">Access to this page has not been granted to your account please contact system support.</h2>

