<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Calculation<b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li class="divider"></li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Deferred</a>
            <ul class="dropdown-menu">
                <li><a href="#">@Html.ActionLink("Fire 2006", "Index", "Calculation", new { CalculationType = "Deferred", SchemeType = "Fire2006" },null )</a></li>
            </ul>
        </li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Retirement</a>
            <ul class="dropdown-menu">
                <li><a href="#">@Html.ActionLink("Fire 2006", "Input", "Calculation")</a></li>
             </ul>
        </li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transfer Out</a>
            <ul class="dropdown-menu">
                <li><a href="#">@Html.ActionLink("Fire 2006", "Input", "Calculation")</a></li>
            </ul>
        </li>
        <li class="dropdown dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Transfer In</a>
            <ul class="dropdown-menu">
                <li><a href="#">@Html.ActionLink("Fire 2006", "Input", "Calculation")</a></li>
            </ul>
        </li>
    </ul>
</li>