<form editable-form name="tableform">
    <table class="table table-bordered col-sm-3">
        <tr>

            <td>
                <select name="singleSelect" ng-model="search.Moscow" class="form-control">
                    <option value="" disabled selected>Enter M.o.S.C.o.W rating</option>
                    <option value="">All</option>
                    <option value="Must">Must</option>
                    <option value="Should">Should</option>
                    <option value="Could">Could</option>
                    <option value="Won't">Won't</option>
                    {{Moscow}}
                </select>
            </td>
            <td>
                <select name="singleSelect" ng-model="search.Timebox" class="form-control">
                    <option value="" disabled selected>Enter Timebox</option>
                    <option value="">All</option>
                    <option value="Timebox 1">Timebox 1</option>
                    <option value="Timebox 2">Timebox 2</option>
                    <option value="Timebox 3">Timebox 3</option>
                    <option value="Timebox 4">Timebox 4</option>
                    <option value="Timebox 5">Timebox 5</option>
                    <option value="Timebox 6">Timebox 6</option>
                    {{Timebox}}
                </select>
            </td>
            <td>
                <select name="singleSelect" ng-model="search.User" class="form-control">
                    <option value="">All</option>
                    <option value="" disabled selected>Select User</option>
                    <option value="Jayson Herbert">Jayson Herbert</option>
                    <option value="John Smith">John Smith</option>
                    {{User}}
                </select>
            </td>

        </tr>
    </table>
</form>