<body ng-controller="reportCtrl">
    <div>
        <div class="modal-header">
            <h2>Reporting</h2>
        </div>
        <div class="modal-body">
            <h3>R.A.G</h3>
            <table class="table table-bordered table table-responsive">
                <thead>
                    <tr style="font-weight: bold">
                        <th style="width:10%"><H4>Priority</H4></th>
                        <th style="width:10%"><H4>Red</H4></th>
                        <th style="width:10%"><H4>Amber</H4></th>
                        <th style="width:10%"><H4>Green</H4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in RagReport">
                        <td><span><a>{{row.Priority}}</a></span></td>
                        <td><span><a> {{row.Red}}</a></span></td>
                        <td><span>{{row.Amber}}</span></td>
                        <td><span><a> {{row.Green}}</a></span></td>
                    </tr>
                </tbody>
            </table>

            <h3>Column Count</h3>
            <table class="table table-bordered table table-responsive">
                <thead>
                    <tr style="font-weight: bold">
                        <th style="width:10%"><H4>Backlog</H4></th>
                        <th style="width:10%"><H4>In Progress</H4></th>
                        <th style="width:10%"><H4>Pending</H4></th>
                        <th style="width:10%"><H4>Release</H4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rowCol in ColumnReport">
                        <td><span><a>{{rowCol.BacklogColumn}}</a></span></td>
                        <td><span><a> {{rowCol.InProgressColumn}}</a></span></td>
                        <td><span>{{rowCol.PendingColumn}}</span></td>
                        <td><span><a> {{rowCol.ReleaseColumn}}</a></span></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok($index)">OK</button>
        </div>
    </div>
</body>
