<body ng-controller="storyCtrl">
        <div >
            <script type="text/ng-template" id="/Areas/Project/Scripts/updateModal.html">
                <div class="modal-header">
                    <textarea overflow:auto;resize:none" type="text" id="Name" placeholder="Please enter name of item here" class="form-control" ng-model="Name" rows="1">{{ Name }}</textarea>
                </div>
                <div class="modal-body">
                    <h1>Requirements</h1>
                    <br />
                    <form editable-form name="tableform">
                        <!-- table -->
                        <table class="table table-bordered table-hover table-condensed">
                            <tr style="font-weight: bold">
                                <td style="width:50%;background-color:white; color:#000000"><H4>Description</H4></td>
                                <td style="width:50%;background-color:white; color:#000000"><H4>Acceptance Criteria</H4></td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea style="overflow:auto;resize:none" type="text" id="Description" placeholder="Please enter description here" class="form-control" ng-model="Description" rows="8"> {{ Description }}</textarea>
                                </td>
                                <td>
                                    <textarea style="overflow:auto;resize:none" type="text" id="AcceptanceCriteria" placeholder="Please enter Acceptance Criteria here" class="form-control" ng-model="AcceptanceCriteria" rows="8"> {{ AcceptanceCriteria }}</textarea>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <form editable-form name="tableform">
                        <table class="table table-bordered table-hover table-condensed">
                            <tr style="font-weight: bold">
                                <td style="width:33.3%;background-color:white; color:#000000"><h4>MoSCoW</h4></td>
                                <td style="width:33.3%;background-color:#ffffff; color:#000000"><H4>Timebox</H4></td>
                                <td style="width:33.3%;background-color:#ffffff; color:#000000"><H4>Allocation</H4></td>
                            </tr>
                            <tr>

                                <td>
                                    <select name="singleSelect" ng-model="Moscow" placeholder="Enter M.o.S.C.o.W rating" class="form-control">
                                        <option value="Must">Must</option>
                                        <option value="Should">Should</option>
                                        <option value="Could">Could</option>
                                        <option value="Won't">Won't</option>
                                        {{Moscow}}
                                    </select>
                                </td>
                                <td>
                                    <select name="singleSelect" ng-model="Timebox" placeholder="Enter Timebox" class="form-control">
                                        <option value="Timebox 1">Timebox 1</option>
                                        <option value="Timebox 2">Timebox 2</option>
                                        <option value="Timebox 3">Timebox 3</option>
                                        <option value="Timebox 4">Timebox 4</option>
                                        <option value="Timebox 5">Timebox 5</option>
                                        <option value="Timebox 6">Timebox 6</option>
                                        {{Timebox}}
                                    </select>
                                </td>
                                <td>
                                    <select name="singleSelect" ng-model="User" placeholder="Select User" class="form-control">
                                        <option value="Jayson Herbert">Jayson Herbert</option>
                                        <option value="John Smith">John Smith</option>
                                        {{User}}
                                    </select>
                                </td>

                            </tr>
                        </table>
                    </form>

                    <h1>Tasks</h1>
                    <br />

                    <form editable-form name="tableform">
                        <!-- table -->
                        <table class="table table-bordered table-hover table-condensed">
                            <tr style="font-weight: bold">
                                <td style="width:50%; background-color:white; color:#000000"><H4>Task</H4></td>
                                <td style="width:30%;background-color:white; color:#000000"><H4>User</H4></td>
                                <td style="width:8%;background-color:white; color:#000000"><H4>Remaining Time</H4></td>
                                <td style="width:20%;background-color:white;  color:#000000"><H4>Status</H4></td>
                            </tr>


                            <tr ng-repeat="Task in Tasks">

                                <td><input type="text" ng:model="$parent.Task.TaskName" class="form-control"></td>
                                <td>
                                    <select name="singleSelect" ng:model="Task.TaskUser" placeholder="Select User" class="form-control">
                                        <option value="Jayson Herbert">Jayson Herbert</option>
                                        <option value="John Smith">John Smith</option>
                                        {{Task.TaskUser}}
                                    </select>
                                </td>

                                <td><input type="number" ng:model="Task.RemainingTime" class="form-control"></td>
                                <td>
                                    <select style="font-size:xx-small" name="singleSelect" ng:model="Task.Status" placeholder="Enter Status" class="form-control">
                                        <option value="Timebox 1">To Do</option>
                                        <option value="Timebox 2">In Progress</option>
                                        <option value="Timebox 3">Done</option>
                                        {{Task.Status}}
                                    </select>
                                </td>

                                <td>
                                    [<a ng:click="removeItem($index)">X</a>]
                                </td>
                            </tr>
                            <tr>
                                <td><a ng:click="addItem()" class="btn btn-default">Add</a></td>
                            </tr>

                        </table>
                    </form>
                    <h1>Comments</h1>
                    <br />
                    <form editable-form name="commentform">
                        <!-- table -->
                        <table class="table table-bordered table-hover table-condensed">
                            <tr style="font-weight: bold">
                                <td style="width:70%;background-color:white; color:#000000"><H4>Comment Name</H4></td>
                                <td style="width:10%;background-color:white; color:#000000"><H4>Delete</H4></td>
                            </tr>
                            <tr ng-repeat="comnt in Comments">
                                <td><span><input type="text" ng:model="comnt.CommentName" class="form-control"></span></td>
                                <td>
                                    [<a ng:click="remItem($index)">X</a>]
                                </td>
                            </tr>
                            <tr>
                                <td><span><input type="text" ng-model="txtcomment" placeholder="Your Comment"></span></td>
                                <td><a ng:click="btn_add()" class="btn btn-default">Add</a></td>
                            </tr>

                        </table>
                    </form>

                </div>
                <div class="modal-footer">
                    <input class="btn btn-default" type="button" value="Delete" ng-click="DeleteButtonClick()" />
                    <button class="btn btn-primary" type="button" ng-click="ok($index)">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>
</div>
   
</body>
