<body ng-controller="groupCtrl">
    <div>
        <div class="modal-header">

            <h2>ID: {{ID}}</h2>

            <h3>Name</h3>
            <textarea style="overflow:auto;resize:none" type="text" id="Name" placeholder="Please enter name of Group here" class="form-control" ng-model="Name" rows="1">{{ Name }}</textarea>
        </div>
        <div class="modal-body">
            <h3>Description</h3>
            <textarea style="overflow:auto;resize:none" type="text" id="Description" placeholder="Please enter description here" class="form-control" ng-model="Description" rows="8"> {{ Description }}</textarea>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok($index)">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </div>

</body>
