<br>
<div ng-include="'/Areas/Project/Scripts/busyModal.html'" ng-show="isLoading" ng-cloak></div>
<input class="btn btn-default" type="button" value="Save" ng-click="SaveButtonClick()" />
<input class="btn btn-default" type="button" value="Calculate" ng-click="CalcButtonClick()" />
<input class="btn btn-default" type="button" value="Add Category" ng-click="AddCategory()" />
<div ui-tree data-clone-enabled="true">
    <uib-accordion close-others= false ui-tree-nodes="" ng-model="config" >
        <uib-accordion-group ng-repeat="Category in config" ng-init="colIndex = $index" is-open= true ui-tree-node>
            <uib-accordion-heading ui-tree-handle>
                {{Category.Name}} 	
                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>
            <a ng-click="GroupButtonClick('lg', $index)"><i class="pull-right glyphicon glyphicon-option-horizontal"></i></a>
            <a ng-click="AddFunction(colIndex, $index)"><i class="glyphicon glyphicon-plus"></i></a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Sort</th>
                        <th>Logic</th>
                        <th>Function</th>
                        <th>Config</th>
                        <th>Variable</th>
                        <th>Type</th>
                        <th>Output</th>
                        <th>Expected Results</th>
                        <th>Pass</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody ui-tree-nodes ="" ng:model="Category.Functions" >
                    <tr ng-repeat="rows in Category.Functions" ng-class="{'selected':$index == selectedRow}" ng-click="setclickedrow($index)" ui-tree-node>
                        <td>
                            <i class="glyphicon glyphicon-list" ui-tree-handle></i>
                        </td>
                        <td>
                            <a ng-click="LogicButtonClick('lg', colIndex, $index)">
                                <span class="glyphicon glyphicon-wrench"></span>
                            </a>

                        </td>
                        <td>
                            <select name="singleSelect" ng:model="rows.Function" class="form-control" ng-change="setFunction(colIndex, $index, rows)">
                                <option value=""></option>
                                <option value="Input">Input</option>
                                <option value="Maths">Maths</option>
                                <option value="Period">Period</option>
                                <option value="Factors">Factors</option>
                            </select>
                        </td>
                        <td>
                            <a ng-click="FunctionButtonClick('lg', colIndex, $index)">
                                <span class="glyphicon glyphicon-cog"></span>
                            </a>
                        </td>
                        <td><span><input type="text" ng:model="rows.Name" class="form-control"></span></td>
                        <td ng-hide="editingData[rows.ID]" width="5%">{{rows.Type}}</td>
                        <td ng-show="editingData[rows.ID]" width="10%">
                            <select name="singleSelect" ng-model="rows.Type" class="form-control">
                                <option value=""></option>
                                <option value="String">String</option>
                                <option value="Decimal">Decimal</option>
                                <option value="Period">Period</option>
                                <option value="Date">Date</option>
                            </select>
                        </td>
                        <td ng-hide="editingData[rows.ID]" width="5%">{{rows.Output}}</td>
                        <td ng-show="editingData[rows.ID]" width="10%">
                            <span><input type="text" ng:model="rows.Output" class="form-control"></span>
                        </td>
                        <td><span><input type="text" ng:model="rows.ExpectedResult" class="form-control"></span></td>
                        <td ng-class="{'green' : rows.Pass == 'true', 'red': rows.Pass == 'false', 'grey': rows.Pass == 'miss', 'white': rows.Pass == 'Nil' }"><span></span></td>
                        <td>
                            <a data-nodrag ng-click="CopyFunction(colIndex, $index)">
                                <span class="pull-right glyphicon glyphicon-duplicate"></span>
                            </a>
                        </td>

                        <td>
                            <a data-nodrag ng-click="remItem(colIndex, $index)">
                                <span class="pull-right glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </uib-accordion-group>
    </uib-accordion>
</div>



