<body ng-controller="logicCtrl">
        <div >
            <script type="text/ng-template" id="/Areas/Configuration/Scripts/LogicModal.html">
                <div class="modal-header">
                    <h4>Logic</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered table table-responsive">

                        <tr>
                            <th></th>
                            <th>Input 1</th>
                            <th>Logic</th>
                            <th>Input 2</th>
                            <th></th>
                            <th>Operator</th>
                            <th></th>
                        </tr>


                        <tr ng-repeat="rows in Logic">
                            <td width="1%">
                                <select name="singleSelect" ng:model="rows.Bracket1" class="form-control">
                                    <option value=""></option>
                                    <option value="(">(</option>
                                </select>
                            </td>

                            <td width="20%"><span><input type="text" ng:model="rows.Input1" class="form-control"></span></td>

                            <td width="10%">
                                <select name="singleSelect" ng:model="rows.LogicInd" class="form-control">
                                    <option value=""></option>
                                    <option value="=">=</option>
                                    <option value="<>"><></option>
                                </select>
                            </td>

                            <td width="20%"><span><input type="text" ng:model="rows.Input2" class="form-control"></span></td>
                            <td width="1%">
                                <select name="singleSelect" ng:model="rows.Bracket2" class="form-control">
                                    <option value=""></option>
                                    <option value=")">)</option>
                                </select>
                            </td>
                            <td width="10">
                                <select name="singleSelect" ng:model="rows.Operator" class="form-control">
                                    <option value=""></option>
                                    <option value="AND">AND</option>
                                    <option value="OR">OR</option>
                                </select>
                            </td>
                            <td width="5%">
                                [<a ng:click="removeLogicItem($index)">X</a>]
                            </td>
                        </tr>
                        <tr>
                            <td><a ng:click="addItem($index)" class="btn btn-default">Add</a></td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok($index)">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>
</div>
   
</body>
