<body ng-controller="logicCtrl">
        <div>
                <div class="modal-header">
                    <h4>Logic</h4>
                </div>
                <div class="modal-body">
                    <form name="form" role="form" ng-submit="ok($index)">
                        <table class="table table-bordered table table-responsive">

                            <tr>
                                <th></th>
                                <th>Input 1</th>
                                <th>Logic</th>
                                <th>Input 2</th>
                                <th></th>
                                <th>Operator</th>
                                <th></th>
                            </tr>


                            <tr ng-repeat="rows in Logic">
                                <td width="10%">
                                    <select name="singleSelect" ng:model="rows.Bracket1" class="form-control">
                                        <option value=""></option>
                                        <option value="(">(</option>
                                    </select>
                                </td>

                                <td width="20%"><span><input type="text" ng:model="rows.Input1" class="form-control" uib-typeahead="state for state in AllNames | filter:$viewValue | limitTo:8" required></span></td>

                                <td width="10%">
                                    <select name="singleSelect" ng:model="rows.LogicInd" class="form-control" required>
                                        <option value=""></option>
                                        <option value="=">=</option>
                                        <option value="NotEqual"><></option>
                                        <option value="Greater">></option>
                                        <option value="Less"><</option>
                                    </select>
                                </td>

                                <td width="20%"><span><input type="text" ng:model="rows.Input2" class="form-control" uib-typeahead="state for state in AllNames | filter:$viewValue | limitTo:8" required></span></td>
                                <td width="10%">
                                    <select name="singleSelect" ng:model="rows.Bracket2" class="form-control">
                                        <option value=""></option>
                                        <option value=")">)</option>
                                    </select>
                                </td>
                                <td width="30%">
                                    <select name="Operator_{{$index}}" ng:model="rows.Operator" class="form-control" integer>
                                        <option value=""></option>
                                        <option value="AND">AND</option>
                                        <option value="OR">OR</option>
                                    </select>
                                    <span ng-show="form['Operator_'+ $index].$error.integer">The value is not a valid integer!</span>
                                </td>
                                <td width="5%">
                                    [<a ng:click="removeLogicItem($index)">X</a>]
                                </td>
                            </tr>
                            <tr>
                                <td><a ng:click="addItem($index)" class="btn btn-default">Add</a></td>
                            </tr>
                        </table>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="submit">OK</button>
                            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                        </div>
                    </form>
                </div>

</div>
   
</body>
