<script type="text/ng-template" id="customPopupTemplate.html">
    <div class="custom-popup-wrapper"
         ng-style="{top: position().top+'px', left: position().left+'px'}"
         style="display: block;"
         ng-show="isOpen() && !moveInProgress"
         aria-hidden="{{!isOpen()}}">
        <p class="message">select location from drop down.</p>
        <ul class="dropdown-menu" role="listbox">
            <li ng-repeat="match in matches track by $index" ng-class="{active: isActive($index) }"
                ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)" role="option" id="{{::match.id}}">
                <div uib-typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
            </li>
        </ul>
    </div>
</script>

<div  ng-swipe-disable-mouse ng-swipe-left="save()"   class="Maths" ng-controller="mathsCtrl">
    <button class="btn btn-secondary btn-lg btn-block" ng-click="save()">Back</button> 

    <table class="table table-bordered table table-responsive">

        <tr>
            <th></th>
            <th>Input 1</th>
            <th>Logic</th>
            <th>Input 2</th>
            <th></th>
            <th>Rounding (dp)</th>
            <th>Rouding Type</th>
        </tr>


        <tr ng-repeat="rows in maths">


            <td width="1%">
                <select name="singleSelect" ng:model="rows.Bracket1" class="form-control">
                    <option value=""></option>
                    <option value="(">(</option>
                </select>
            </td> 

            <td width="20%"><span><input type="text" ng:model="rows.Input1" uib-typeahead="state for state in decimal | filter:$viewValue | limitTo:8" class="form-control"></span></td>

            <td width="10%">
                <select name="singleSelect" ng:model="rows.Logic" class="form-control">
                    <option value=""></option>
                    <option value="+">+</option>
                    <option value="-">-</option>
                    <option value="/">/</option>
                    <option value="*">*</option>
                    <option value="Pow">^</option>
                </select>
            </td>

            <td width="20%"><span><input type="text" ng:model="rows.Input2" uib-typeahead="state for state in decimal | filter:$viewValue | limitTo:8"  class="form-control" ></span></td>
            <td width="1%">
                <select name="singleSelect" ng:model="rows.Bracket2" class="form-control">
                    <option value=""></option>
                    <option value=")">)</option>
                </select>
            </td>
            <td width="10">
                <select name="singleSelect" ng:model="rows.Rounding" class="form-control">
                    <option value=""></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </td>
            <td width="10">
                <select name="singleSelect" ng:model="rows.RoundingType" class="form-control">
                    <option value=""></option>
                    <option value="down">Down</option>
                    <option value="up">Up</option>
                    <option value="midDown">Mid Down</option>
                    <option value="midUp">Mid Up</option>
                </select>
            </td>
            <td width="5%">
                [<a ng:click="remItem($index)">X</a>]
            </td>
        </tr>
        <tr>
            <td><a ng:click="btn_add()" class="btn btn-default">Add</a></td>
        </tr>
    </table>
   
</div>