<body ng-controller="regressionCtrl">
    <div class="modal-header">
        <h3 class="modal-title">Regression</h3>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table table-responsive">
            <tr>
                <th>
                    Input
                </th>
                <th>
                    Comment
                </th>
                <th>
                    Old
                </th>
                <th>
                    New
                </th>
                <th>
                    Pass/Fail
                </th>
                <th>
                    Differences
                </th>
                <th>

                </th>
            </tr>
            <tr ng-repeat="Regress in Regression">
                <td ng-click="FunctionButtonClick('lg', $index)">
                    <span class="glyphicon glyphicon-cog"></span>
                </td>
                <td width="25%" ng-cloak> <span><input type="text" ng:model="Regress.Comment" class="form-control"></span></td>
                <td><button type="button" class="btn btn-default" ng-click="OutputButtonClick('lg', $index, 'o')" data-dismiss="modal">Old</button></td>
                <td><button  ng-if="Regress.OutputNew != null" type="button" class="btn btn-default" ng-click="OutputButtonClick('lg', $index, 'n')" data-dismiss="modal">New</button></td>
                <td width="10%" ng-class="{'green' : Regress.Difference == null, 'red': Regress.Difference != null}"><span></span></td>
                <td><button ng-if="Regress.Difference != null" type="button" class="btn btn-default" ng-click="DifferencesButtonClick('lg', $index)" data-dismiss="modal">Differences</button></td>
                <td width="5%">
                    [<a ng:click="removeRegressionItem($index)">X</a>]
                </td>
            </tr>
        </table>


    </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="AcceptButtonClick()" data-dismiss="modal">Accept All</button>
            <button type="button" class="btn btn-default" ng-click="RunAllButtonClick()" data-dismiss="modal">Run All</button>
            <button type="button" class="btn btn-default" ng-click="Add($index)" data-dismiss="modal">Add</button>
            <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Close</button>
        </div>
</body>
