<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Incoming Array Type</label>
        <md-select required ng:model="rows.Parameter[0].LookupType"  name="ArrayFunctionLookupType_{{colIndex}}_{{rowIndex}}" id="ArrayFunctionLookupType_{{colIndex}}_{{rowIndex}}" ng-disabled="viewOnly">
            <md-option value=""></md-option>
            <md-option value="Date">Date</md-option>
            <md-option value="Decimal">Decimal</md-option>
            <!--<md-option value="String">String</md-option>-->
        </md-select>
    </md-input-container>
</div>

<div ng-if="rows.Parameter[0].LookupType == 'Date'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Array Value</label>
        <input ng-model="rows.Parameter[0].LookupValue" name="ArrayFunctionLookupValue_{{colIndex}}_{{rowIndex}}" id="ArrayFunctionLookupValue_{{colIndex}}_{{rowIndex}}" uib-typeahead="state for state in DateNames | filter:$viewValue | limitTo:8" required>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].LookupType == 'Decimal'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Array Value</label>
        <input ng-model="rows.Parameter[0].LookupValue" name="ArrayFunctionLookupValue_{{colIndex}}_{{rowIndex}}" id="ArrayFunctionLookupValue_{{colIndex}}_{{rowIndex}}"  uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" required>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].LookupType == 'String'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Array Value</label>
        <input ng-model="rows.Parameter[0].LookupValue" name="ArrayFunctionLookupValue_{{colIndex}}_{{rowIndex}}" id="ArrayFunctionLookupValue_{{colIndex}}_{{rowIndex}}"  uib-typeahead="state for state in StringNames | filter:$viewValue | limitTo:8" required>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].LookupType == 'Date'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Array Function</label>
        <md-select required ng:model="rows.Parameter[0].Function" name="ArrayFunctionFunction_{{colIndex}}_{{rowIndex}}" id="ArrayFunctionFunction_{{colIndex}}_{{rowIndex}}"  ng-disabled="viewOnly">
            <md-option value=""></md-option>
            <md-option value="FirstDate">First Date</md-option>
            <md-option value="LastDate">Last Date</md-option>
            <md-option value="Count">Count Array Size</md-option>
        </md-select>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].LookupType == 'Decimal'" ng-disabled="viewOnly">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Array Function</label>
        <md-select required ng:model="rows.Parameter[0].Function" name="ArrayFunctionFunction_{{colIndex}}_{{rowIndex}}" id="ArrayFunctionFunction_{{colIndex}}_{{rowIndex}}" >
            <md-option value=""></md-option>
            <md-option value="Sum">Sum</md-option>
            <md-option value="Product">Product</md-option>
            <md-option value="FirstNumber">First Number</md-option>
            <md-option value="LastNumber">Last Number</md-option>
            <md-option value="TotalPeriod">Total Period</md-option>
            <md-option value="Count">Count Array Size</md-option>
        </md-select>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].Function == 'TotalPeriod' && rows.Parameter[0].LookupType == 'Decimal'" >
    <md-input-container class="md-block" flex-gt-sm>
        <label>Period Type</label>
        <md-select required ng:model="rows.Parameter[0].PeriodType" name="ArrayFunctionPeriodType_{{colIndex}}_{{rowIndex}}" id="ArrayFunctionPeriodType_{{colIndex}}_{{rowIndex}}" ng-disabled="viewOnly">
            <md-option value=""></md-option>
            <md-option value="YearsDays">Years Days</md-option>
            <md-option value="YearsMonths">Years Months</md-option>
        </md-select>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].LookupType == 'String'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Array Value</label>
    </md-input-container>
</div>
