<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Incoming Array Type</label>
        <md-select required ng:model="Parameter[0].LookupType" ng-disabled="viewOnly">
            <md-option value=""></md-option>
            <md-option value="Date">Date</md-option>
            <md-option value="Decimal">Decimal</md-option>
            <!--<md-option value="String">String</md-option>-->
        </md-select>
        <div ng-messages="form['DateAdjustment_'+ colIndex + '_' + rowIndex].$error" ng-if="!showHints">
            <div ng-message="required">Type is required.</div>
        </div>
    </md-input-container>
</div>

<div ng-if="Parameter[0].LookupType == 'Date'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Array Value</label>
        <input ng-model="Parameter[0].LookupValue" uib-typeahead="state for state in DateNames | filter:$viewValue | limitTo:8" required>
    </md-input-container>
</div>
<div ng-if="Parameter[0].LookupType == 'Decimal'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Array Value</label>
        <input ng-model="Parameter[0].LookupValue" uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" required>
    </md-input-container>
</div>
<div ng-if="Parameter[0].LookupType == 'String'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Array Value</label>
        <input ng-model="Parameter[0].LookupValue" uib-typeahead="state for state in StringNames | filter:$viewValue | limitTo:8" required>
    </md-input-container>
</div>
<div ng-if="Parameter[0].LookupType == 'Date'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Array Function</label>
        <md-select required ng:model="Parameter[0].Function" ng-disabled="viewOnly">
            <md-option value=""></md-option>
            <md-option value="FirstDate">First Date</md-option>
            <md-option value="LastDate">Last Date</md-option>
            <md-option value="Count">Count Array Size</md-option>
        </md-select>
        <div ng-messages="form['DateAdjustment_'+ colIndex + '_' + rowIndex].$error" ng-if="!showHints">
            <div ng-message="required">Type is required.</div>
        </div>
    </md-input-container>
</div>
<div ng-if="Parameter[0].LookupType == 'Decimal'" ng-disabled="viewOnly">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Array Function</label>
        <md-select required ng:model="Parameter[0].Function">
            <md-option value=""></md-option>
            <md-option value="Sum">Sum</md-option>
            <md-option value="Product">Product</md-option>
            <md-option value="FirstNumber">First Number</md-option>
            <md-option value="LastNumber">Last Number</md-option>
            <md-option value="TotalPeriod">Total Period</md-option>
            <md-option value="Count">Count Array Size</md-option>
        </md-select>
        <div ng-messages="form['DateAdjustment_'+ colIndex + '_' + rowIndex].$error" ng-if="!showHints">
            <div ng-message="required">Type is required.</div>
        </div>
    </md-input-container>
</div>
<div ng-if="Parameter[0].Function == 'TotalPeriod' && Parameter[0].LookupType == 'Decimal'" >
    <md-input-container class="md-block" flex-gt-sm>
        <label>Period Type</label>
        <md-select required ng:model="Parameter[0].PeriodType" ng-disabled="viewOnly">
            <md-option value=""></md-option>
            <md-option value="YearsDays">Years Days</md-option>
            <md-option value="YearsMonths">Years Months</md-option>
        </md-select>
        <div ng-messages="form['DateAdjustment_'+ colIndex + '_' + rowIndex].$error" ng-if="!showHints">
            <div ng-message="required">Type is required.</div>
        </div>
    </md-input-container>
</div>
<div ng-if="Parameter[0].LookupType == 'String'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Array Value</label>

    </md-input-container>
</div>
