<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Adjustment Type</label>
        <md-select required ng:model="rows.Parameter[0].Type" name="DateAdjustmentType_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" id="DateAdjustmentType_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" ng-disabled="viewOnly">
            <md-option value="Add">Add</md-option>
            <md-option value="Adjust">Adjust</md-option>
            <md-option value="Earlier">Earlier</md-option>
            <md-option value="Later">Later</md-option>
            <md-option value="Subtract">Subtract</md-option>
            <md-option value="DatesBetween">Dates Between Two Dates</md-option>
            <md-option value="Today">Today</md-option>
        </md-select>
        <div ng-messages="form['DateAdjustmentType_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Type is required</div>
        </div>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].Type != 'Today'">
    <md-input-container  class="md-block" flex-gt-sm>
        <label>Start Date</label>
        <input variablecheck inputtype="Date" config='[config]' colIndex="{{$parent.$parent.$parent.$index}}" rowIndex="{{$parent.$parent.$index}}"  
               ng-model="rows.Parameter[0].Date1" name="DateAdjustmentDate1_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               id="DateAdjustmentDate1_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               uib-typeahead="state for state in DateNames | filter:$viewValue | limitTo:8" required>
        <div ng-messages="form['DateAdjustmentDate1_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Date is required</div>
            <div ng-message="input">Variable Mismatch</div>
        </div>
    </md-input-container>
    
</div>
<div ng-if="rows.Parameter[0].Type == 'Earlier' || rows.Parameter[0].Type == 'Later' || rows.Parameter[0].Type == 'DatesBetween'" class="form-group">
    <md-input-container class="md-block" flex-gt-sm>
        <label>End Date</label>
        <input variablecheck inputtype="Date" config='[config]' colIndex="{{$parent.$parent.$parent.$index}}" rowIndex="{{$parent.$parent.$index}}" ng-model="rows.Parameter[0].Date2"  
               name="DateAdjustmentDate2_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               id="DateAdjustmentDate2_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}"  
               uib-typeahead="state for state in DateNames | filter:$viewValue | limitTo:8" required>
        <div ng-messages="form['DateAdjustmentDate2_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Date is required</div>
            <div ng-message="input">Variable Mismatch</div>
        </div>
    </md-input-container>
</div>
<fieldset ng-if="rows.Parameter[0].Type == 'Add'|| rows.Parameter[0].Type =='Subtract' ">
    <legend>Period Adjustment</legend>
    <div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Data Type</label>
            <md-select required ng:model="rows.Parameter[0].PeriodType" name="DateAdjustmentPeriodType_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" id="DateAdjustmentPeriodType_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" ng-disabled="viewOnly">
                <md-option value="YearsDays">Years Days</md-option>
                <md-option value="YearsMonths">Years Months</md-option>
                <md-option value="Years">Years</md-option>
                <md-option value="Months">Months</md-option>
                <md-option value="Days">Days</md-option>
            </md-select>
            <div ng-messages="form['DateAdjustmentPeriodType_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
                <div ng-message="required">Type is required</div>
            </div>
        </md-input-container>
    </div>
    <div class="form-group">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Period</label>
            <input variablecheck inputtype="Decimal" config='[config]' colIndex="{{$parent.$parent.$parent.$index}}" rowIndex="{{$parent.$parent.$index}}"
                   ng-model="rows.Parameter[0].Period" name="DateAdjustmentPeriod_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
                   id="DateAdjustmentPeriod_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
                   uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" required>
            <div ng-messages="form['DateAdjustmentPeriod_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
                <div ng-message="required">Period is required</div>
                <div ng-message="input">Variable Mismatch</div>
            </div>
        </md-input-container>
    </div>
</fieldset>
<fieldset ng-if="rows.Parameter[0].Type == 'Adjust' || rows.Parameter[0].Type == 'DatesBetween'">
    <legend>Adjustment to be Made</legend>
    <div ng-if="rows.Parameter[0].Type == 'Adjust'" class="form-group">
        <label for="inclusive" class="control-label col-md-2">Adjustment</label>
        <div class="col-sm-9">
            <md-select ng:model="rows.period.Adjustment" name="DateAdjustmentPeriodAdjustment_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
                       id="DateAdjustmentPeriodAdjustment_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
                       ng-disabled="viewOnly" required>
                <md-option value="Less">Before</md-option>
                <md-option value="LessEqual">On or Before</md-option>
                <md-option value="Greater">After</md-option>
                <md-option value="GreaterEqual">On or After</md-option>
                <md-option value="Equal">Same Year</md-option>
            </md-select>
            <div ng-messages="form['DateAdjustmentPeriodAdjustment_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
                <div ng-message="required">Period Adjustment Type is required</div>
            </div>
        </div>
    </div>
    <div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Select Day</label>
            <input ng-model="rows.Parameter[0].Day" name="DateAdjustmentDay_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
                   id="DateAdjustmentDay_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" required>
            <div ng-messages="form['DateAdjustmentDay_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
                <div ng-message="required">Day is required</div>
            </div>
        </md-input-container>
    </div>
    <div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Select Month</label>
            <input ng-model="rows.Parameter[0].Month" name="DateAdjustmentMonth_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
                   id="DateAdjustmentMonth_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" required>
            <div ng-messages="form['DateAdjustmentMonth_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
                <div ng-message="required">Month is required</div>
            </div>
        </md-input-container>
    </div>
</fieldset>
