<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Data Type</label>
        <md-select required ng:model="rows.Parameter[0].DateAdjustmentType" name="PeriodType_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}"  id="PeriodType_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" ng-disabled="viewOnly">
            <md-option value="YearsDays">Years Days</md-option>
            <md-option value="YearsMonths">Years Months</md-option>
            <md-option value="Years">Years</md-option>
            <md-option value="Months">Months</md-option>
            <md-option value="Days">Days</md-option>
        </md-select>
        <div ng-messages="form['PeriodType_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Type is required</div>
        </div>
    </md-input-container>
</div>
<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Start Date</label>
        <input variablecheck inputtype="Date" config='[config]' colIndex="{{$parent.$parent.$parent.$index}}" rowIndex="{{$parent.$parent.$index}}" ng-model="rows.Parameter[0].Date1" uib-typeahead="state for state in DateNames | filter:$viewValue | limitTo:8" 
               name="PeriodDate1_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" id="PeriodDate1_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" required>
        <div ng-messages="form['PeriodDate1_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Date is required</div>
            <div ng-message="input">Variable Mismatch</div>
        </div>
    </md-input-container>
</div>
<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>End Date</label>
        <input variablecheck inputtype="Date" config='[config]' colIndex="{{$parent.$parent.$parent.$index}}" rowIndex="{{$parent.$parent.$index}}" 
               ng-model="rows.Parameter[0].Date2" uib-typeahead="state for state in DateNames | filter:$viewValue | limitTo:8" name="PeriodDate2_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}"  
               id="PeriodDate2_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" required>
        <div ng-messages="form['PeriodDate2_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Date is required</div>
            <div ng-message="input">Variable Mismatch</div>
        </div>
    </md-input-container>
</div>
<legend>Rounding and Adjustment</legend>
<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Inclusive</label>
        <md-select required ng:model="rows.Parameter[0].Inclusive" name="PeriodInclusive_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}"  id="PeriodInclusive_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}"  ng-disabled="viewOnly">
            <md-option value="True">True</md-option>
            <md-option value="False">False</md-option>
        </md-select>
        <div ng-messages="form['PeriodInclusive_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Period Inclusive is required</div>
        </div>
    </md-input-container>
</div>
<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Days in Year</label>
        <md-select required ng:model="rows.Parameter[0].DaysinYear" name="PeriodDaysinYear_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}"  id="PeriodDaysinYear_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" ng-disabled="viewOnly" >
             <md-option value="365">365</md-option>
            <md-option value="365.25">365.25</md-option>
            <md-option value="366">366</md-option>
        </md-select>
        <div ng-messages="form['PeriodDaysinYear_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Days in Year is required</div>
        </div>
    </md-input-container>
</div>
