<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Data Type</label>
        <md-select  ng:model="rows.Parameter[0].Datatype" name="ReturnType_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}"  id="ReturnType_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" ng-disabled="viewOnly" required>
            <md-option value="String">String</md-option>
            <md-option value="Date">Date</md-option>
            <md-option value="Decimal">Decimal</md-option>
        </md-select>
        <div ng-messages="form['ReturnType_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Type is required</div>
        </div>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].Datatype == 'Date'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Variable to Return</label>
        <input variablecheck inputtype="Date" config='[config]' colIndex="{{$parent.$parent.$parent.$index}}" rowIndex="{{$parent.$parent.$index}}"
               ng-model="rows.Parameter[0].Variable" uib-typeahead="state for state in DateNames | filter:$viewValue | limitTo:8" 
               name="ReturnVariable_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}"  id="ReturnVariable_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" required>
        <div ng-messages="form['ReturnVariable_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Variable to Return required</div>
            <div ng-message="required">Type is required</div>
        </div>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].Datatype == 'Decimal'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Variable to Return</label>
        <input variablecheck inputtype="Decimal" config='[config]' colIndex="{{$parent.$parent.$parent.$index}}" rowIndex="{{$parent.$parent.$index}}" ng-model="rows.Parameter[0].Variable" 
               uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" name="ReturnVariable_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}"  
               id="ReturnVariable_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" required>
        <div ng-messages="form['ReturnVariable_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Variable to Return required</div>
            <div ng-message="required">Type is required</div>
        </div>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].Datatype == 'String'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Variable to Return</label>
        <input variablecheck inputtype="String" config='[config]' colIndex="{{$parent.$parent.$parent.$index}}" rowIndex="{{$parent.$parent.$index}}" ng-model="rows.Parameter[0].Variable" 
               uib-typeahead="state for state in StringNames | filter:$viewValue | limitTo:8" name="ReturnVariable_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}"  
               id="ReturnVariable_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" required>
        <div ng-messages="form['ReturnVariable_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Variable to Return required</div>
            <div ng-message="required">Type is required</div>
        </div>
    </md-input-container>
</div>
