<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Type</label>
        <md-select ng:model="rows.Parameter[0].Type" name="StringFunctionsType_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}"  id="StringFunctionsType_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" ng-disabled="viewOnly" required>
            <md-option value="Left">Left</md-option>
            <md-option value="Right">Right</md-option>
            <md-option value="Len">Length</md-option>
            <md-option value="Find">Find</md-option>
            <md-option value="Set">Set String</md-option>
        </md-select>
        <!--<div ng-messages="form['StringFunctionsType_'+ {{Category.ID}}_{{rows.ID}}].$error" ng-if="!showHints">
            <div ng-message="required">Type is required.</div>
        </div>-->
     </md-input-container>
</div>
<div ng-if="rows.Parameter[0].Type != 'Set'">  
    <md-input-container class="md-block" flex-gt-sm required>
        <label>String 1</label>
        <input name="StringFunctionsString1_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" id="StringFunctionsString1_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}"   ng-model="rows.Parameter[0].String1" uib-typeahead="state for state in StringNames | filter:$viewValue | limitTo:8" required> 
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].Type == 'Left' || rows.Parameter[0].Type == 'Right'">
    <md-input-container class="md-block" flex-gt-sm required>
        <label>Number</label>
        <input name="StringFunctionsNumber_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" id="StringFunctionsNumber_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" ng-model="rows.Parameter[0].Number1" uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" required>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].Type == 'Find'"> 
    <md-input-container class="md-block" flex-gt-sm required>
        <label>String 2</label>
        <input name="StringFunctionsString2_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" id="StringFunctionsString2_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}"  ng-model="rows.Parameter[0].String2" uib-typeahead="state for state in StringNames | filter:$viewValue | limitTo:8" required>
    </md-input-container>
</div>
<div class="form-group" ng-if="rows.Parameter[0].Type == 'Set'" >
    <md-input-container class="md-block" flex-gt-sm required>
        <label>String</label>
        <input ng-model="rows.Parameter[0].String3">
    </md-input-container>
</div>
               