<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Data Type</label>
        <md-select required ng:model="Parameter[0].DateAdjustmentType" name="Period_{{colIndex}}_{{rowIndex}}" id="Period_{{colIndex}}_{{rowIndex}}">
            <md-option value=""></md-option>
            <md-option value="YearsDays">Years Days</md-option>
            <md-option value="YearsMonths">Years Months</md-option>
            <md-option value="Years">Years</md-option>
            <md-option value="Months">Months</md-option>
            <md-option value="Days">Days</md-option>
        </md-select>
        <div ng-messages="form['Period_'+ colIndex + '_' + rowIndex].$error" ng-if="!showHints">
            <div ng-message="required">Type is required.</div>
        </div>
    </md-input-container>
</div>
<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Start Date</label>
        <input ng-model="Parameter[0].Date1" uib-typeahead="state for state in DateNames | filter:$viewValue | limitTo:8" required>
    </md-input-container>
</div>
<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>End Date</label>
        <input ng-model="Parameter[0].Date2" uib-typeahead="state for state in DateNames | filter:$viewValue | limitTo:8" required>
    </md-input-container>
</div>
<legend>Rounding and Adjustment</legend>
<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Inclusive</label>
        <md-select required ng:model="Parameter[0].Inclusive" name="Period_{{colIndex}}_{{rowIndex}}" id="Period_{{colIndex}}_{{rowIndex}}">
            <md-option value=""></md-option>
            <md-option value="True">True</md-option>
            <md-option value="False">False</md-option>
        </md-select>
        <div ng-messages="form['Period_'+ colIndex + '_' + rowIndex].$error" ng-if="!showHints">
            <div ng-message="required">Type is required.</div>
        </div>
    </md-input-container>
</div>
<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Days in Year</label>
        <md-select required ng:model="Parameter[0].DaysinYear" name="Period_{{colIndex}}_{{rowIndex}}" id="Period_{{colIndex}}_{{rowIndex}}" >
            <md-option value=""></md-option>
            <md-option value="365">365</md-option>
            <md-option value="365.25">365.25</md-option>
            <md-option value="366">366</md-option>
        </md-select>
        <div ng-messages="form['Period_'+ colIndex + '_' + rowIndex].$error" ng-if="!showHints">
            <div ng-message="required">Type is required.</div>
        </div>
    </md-input-container>
</div>
