body {
    font-family: 'Segoe UI', Calibri,Arial;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 1.2;
}

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.btn{
    border-radius:0;
}

tr.group-header{
    cursor:pointer;
    background-color:#CE413E;
    border-color:#ddd;
    color:white;
      
}

tr.group-header:hover{
    cursor:pointer;
    background-color:#9d9d9d;
    border-color:#ddd;
         
}

tr:hover{
    cursor:pointer;
    background-color:#9d9d9d;
    border-color:#ddd;
    color:white;
}

th{
    background-color: #286090;
    text-align:center;
    color:black;
    font-style:normal;
}

.btn-primary:hover{
    background-color:#71aadb;
}

.btn-primary{
    border-style:none;
    background-color:#71aadb;
    color:black
}

label {
    font-weight: normal;
}
