body {
    font-family: sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 1.2;
}

.navbar-inverse {
    background-color: #AE0000;
    border-color: #080808;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.btn{
    border-radius:0;
}

tr.group-header{
    cursor:pointer;
    background-color:#fff;
    border-color:#fff;
    color:black;
      
}

tr.group-header:hover{
    cursor:pointer;
    background-color:#9d9d9d;
    border-color:#ddd;
         
}

tr:hover{
    cursor:pointer;
    background-color:#9d9d9d;
    border-color:#ddd;
    color:white;
}

th{
    background-color: #fff;
    text-align:center;
    color:black;
    font-style:normal;
}

.btn-primary:hover{
    background-color:#71aadb;
}

.btn-primary{
    border-style:none;
    background-color:#71aadb;
    color:black
}

label {
    font-weight: normal;
}

.green {

    background-color: green; 
}

.red {
    background-color: red;
}

.grey {
    background-color: gray;
}

.marginBottom-0 {margin-bottom:0;}


.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.dropdown-menu{background-color:#fff}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: rgba(173, 0, 0, 1);
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color:#fff;
    background-color: rgba(173, 0, 0, 1);
}

.jumbotron {
    
    padding-top: 30px;
    padding-bottom: 30px;
    text-align:center;
    margin-bottom: 30px;
    border-width:1px;
    border-color:black;
    border-style:solid;
    font-weight:100;    
    color: #FFF;
    background-color: #AE0000;
   
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 100;
    line-height: 1.1;
    color: inherit;
}

element.style {

}

.panel-default {
    border-color: #fff;
}

.panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    color: inherit;
    text-overflow: ellipsis;
    text-align:center;
}

.panel-body {
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: white;
    border: none;
    box-shadow: none;
    padding:4px;
}

.panel-default > .panel-heading {
    color: black;
    background-color: #fff;
    text-align:center;
    text-overflow: ellipsis;
    border: none;
    box-shadow: none;
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-bottom-width: thin

}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color:white;
}

angular-ui-tree-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    /*background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);*/
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

a:hover, a:focus {
    color: black;
    }

a {
    color: black;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
    text-align: center;
}

a:hover, a:focus {
    text-decoration:none;
    border:none;
}

a:focus {
    outline: none;
    outline-offset: -2px;
}

.btn:focus, .btn:focus:active, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline-offset: -2px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
        border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@import "compass/css3";

.table-editable {
  position: relative;
  
  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;
  
  &:hover {
    color: #f00;
  }
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;
  
  &:hover {
    color: #00f;
  }
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
  
  &:hover {
    color: #0b0;
  }
}

.colStyle {
    margin: 2px;
    width: 24%;
    padding-top: 10px;
    margin-top: 20px;
    border: 1px solid black;
    min-height: 500px;
}

.busyIndicator .alert {
    left: 40%;
    top: 5%;
    position: fixed;
    z-index: 1050;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #fff;
    color: black;
    border-color: transparent;
}

.busyIndicator .backgroundMask {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: black;
    z-index: 1049;
}

.over {
    background-color: #a84d4d;
    border: 2px black;
}



.panel-primary > .panel-heading {
  background-color: #fff
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid #D8CCB8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: white;
}

.panel {
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.00);
    border: 0px solid;
    border: none;
    box-shadow: none;

}


b, strong {
    font-weight: normal;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.modal-body > .td {
    background-color:rgba(174, 0, 0, 0.00); color:black;
 
}

.modal-body {
    position: relative;
    padding: 15px;
    background: #fff;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #eee;
    background-color: #fff;
}

span
{
    width:100%;
    display: block;
    overflow: hidden;
    padding-right: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 1px;
}

span > input{ width: 100%; }


.textarea {

}

.div[ng-app] { margin: 10px; }
.table {width: 100% }
form[editable-form] > div {margin: 10px 0;}

.selected {
    background-color:#eee;
    color:white;
    font-weight:bold;
}

.rows, .placeholder {
    padding: 2px;
    width: 50px;
    height: 20px;
    border: 1px solid #333;
    background: #EEE;
}
.placeholder {
    background: #AEF;
}

/* The starting CSS styles for the enter animation */
.Maths.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.Maths.ng-enter.ng-enter-active {
  opacity:1;
}

/* now the element will fade out before it is removed from the DOM */
.Maths.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.Maths.ng-leave.ng-leave-active {
  opacity:0;
}

/* there is no need to define anything inside of the destination
CSS class since the keyframe will take charge of the animation */
.Maths.ng-leave {
  animation: my_fade_animation 0.5s linear;
  -webkit-animation: my_fade_animation 0.5s linear;
}

@keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/**
* For the correct positioning of the placeholder element, the dnd-list and
* it's children must have position: relative
*/
.simpleDemo ul[dnd-list],
.simpleDemo ul[dnd-list] > li {
    position: relative;
}

/**
* The dnd-list should always have a min-height,
* otherwise you can't drop to it once it's empty
*/
.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

    /**
* The dndDraggingSource class will be applied to
* the source element of a drag operation. It makes
* sense to hide it to give the user the feeling
* that he's actually moving it.
*/
    .simpleDemo ul[dnd-list] .dndDraggingSource {
        display: none;
    }

    /**
* An element with .dndPlaceholder class will be
* added to the dnd-list while the user is dragging
* over it.
*/
    .simpleDemo ul[dnd-list] .dndPlaceholder {
        display: block;
        background-color: rgba(157, 157, 157, 0.41);
        min-height: 42px;
    }

    /**
* The dnd-lists's child elements currently MUST have
* position: relative. Otherwise we can not determine
* whether the mouse pointer is in the upper or lower
* half of the element we are dragging over. In other
* browsers we can use event.offsetY for this.
*/
    .simpleDemo ul[dnd-list] li {
    background-color: rgba(238, 238, 238, 0.25);
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 25px 5px;
    margin-bottom: -1px;
    align-items: center;
    text-align: start;
    }

        /**
* Show selected elements in green
*/
        .simpleDemo ul[dnd-list] li.selected {
            background-color: #dff0d8;
            color: #3c763d;
        }

<style>
    .typeahead-demo .custom-popup-wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        background-color: #f9f9f9;
    }

        .typeahead-demo .custom-popup-wrapper > .message {
            padding: 10px 20px;
            border-bottom: 1px solid #ddd;
            color: #868686;
        }

        .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
            position: static;
            float: none;
            display: block;
            min-width: 160px;
            background-color: transparent;
            border: none;
            border-radius: 0;
            box-shadow: none;
        }
</style>