body {
    font-family: Roboto,Helvetica Neue,sans-serif;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 15px;
    line-height: 1.2;
}

.navbar-inverse {
    background-color: #f6f6f6 !important;
    border-color: #e3dacd;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

.navbar-inverse .navbar-nav > li > a {
    color: #202020 !important;
}

 Set padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.btn{
    border-radius:0;
}

.modal {
display: block;
}
.CSVButton{
    color:#222;
    background-color:#222;
}
tr.group-header{
    cursor:pointer;
    background-color:#fff;
    border-color:#fff;
    color:black;
      
}

tr.group-header:hover{
    cursor:pointer;
    background-color:#9d9d9d;
    border-color:#ddd;
         
}

tr:hover{
    cursor:pointer;
    background-color:#a3a1a1;
    border-color:#ddd;
    color:black;
}

th{
    background-color: #fff;
    text-align:center;
    color:black;
    font-style:normal;
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 1px;
    background-color: whitesmoke;
}

.btn-primary:hover{
    background-color:#71aadb;
}

.btn-primary{
    border-style:none;
    background-color:#71aadb;
    color:black
}

label {
    font-weight: normal;
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}
.white {
    background-color: white;
}
.redrow {
    background-color: #c47d7d;
    color:white;  
}
.standardRow {
    background-color: white;
}
.redCard{
    background-color:#AE0000;
    color:white;  
    text-shadow: 0 0 3px black;
}

.greenCard{
    background-color:  #009900;
    color:white;  
    text-shadow: 0 0 3px black;
}
.amberCard{
    background-color: #e9bb06;
    color:white; 
    text-shadow: 0 0 3px black; 
}
.standardCard{
    background-color: #d9d9d9;
}

.grey {
    background-color: gray;
}
.white {
    background-color: #fff;
}

.marginBottom-0 {margin-bottom:0;}


.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
.dropdown-menu{background-color:#fff}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: rgba(173, 0, 0, 1);
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color:#fff;
    background-color: rgba(173, 0, 0, 1);
}

.jumbotron {
    
    padding-top: 30px;
    padding-bottom: 30px;
    text-align:center;
    margin-bottom: 30px;
    border-width:1px;
    border-color:black;
    border-style:solid;
    font-weight:100;    
    color: #FFF;
    background-color: #AE0000;
   
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 100;
    line-height: 1.1;
    color: inherit;
}

element.style {

}
.form-control {
    text-align-last: center;
}


.panel-default {
    border-color: #fff;
}

.panel-title {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: inherit;
    text-overflow: ellipsis;
    text-align: left;
}

.panel-group .panel {
      overflow: visible;
}

.panel-body {
    text-overflow: ellipsis;
    overflow: hidden;
    border: none;
    box-shadow: none;
    padding:4px;
}

.panel-default > .panel-heading {
    color: black;
    background-color: #fff;
    text-align:center;
    text-overflow: ellipsis;
    border: none;
    box-shadow: none;
    border-bottom-color: #b38639;
    border-bottom-style: solid;
    border-bottom-width: thin;
    padding: 0px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color:white;
}

angular-ui-tree-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

a:hover, a:focus {
    color: black;
    }

a {
    color: black;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
    text-align: center;
    padding: 5px;
    font-size:small;
}

a:hover, a:focus {
    text-decoration:none;
    border:none;
}

a:focus {
    outline: none;
    outline-offset: -2px;
}

.btn:focus, .btn:focus:active, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline-offset: -2px;
}

.popover-content {
    word-wrap: break-word;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
        border: none;
        text-align:center;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

@import "compass/css3";

.table-editable {
  position: relative;
  
  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  color: #700;
  cursor: pointer;
  
  &:hover {
    color: #f00;
  }
}

.table-up, .table-down {
  color: #007;
  cursor: pointer;
  
  &:hover {
    color: #00f;
  }
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
  
  &:hover {
    color: #0b0;
  }
}

.colStyle {
    margin: 2px;
    width: 24%;
    padding-top: 10px;
    margin-top: 20px;
    border: 1px solid black;
    min-height: 500px;
}

.busyIndicator .alert {
    position: center;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: #AE0000;
    color: white;
    border-color: transparent;
    align-content:center;
    text-align:center;
}

.busyIndicator .backgroundMask {
    top: 0;
    left: 0;
    position: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1049;
    opacity: 0.7;
}

.spin {
     -webkit-transform-origin: 50% 50%;
     transform-origin:50% 50%;
     -ms-transform-origin:50% 50%; /* IE 9 */
     -webkit-animation: spin 1000ms infinite linear;
     -moz-animation: spin 1000ms infinite linear;
     -o-animation: spin 1000ms infinite linear;
     animation: spin 1000ms infinite linear;
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.over {
    background-color: #a84d4d;
    border: 2px black;
}



.panel-primary > .panel-heading {
  background-color: #fff
}

.panel-heading {
    padding: 1px 1px;
    border-bottom: 1px solid #D8CCB8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

}

.panel {
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.00);
    border: 0px solid;
    border: none;
    box-shadow: none;

}


b, strong {
    font-weight: normal;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.modal-body > .td {
    background-color:rgba(174, 0, 0, 0.00); color:black;
 
}

.modal-body {
    position: relative;
    padding: 15px;
    background: #fff;
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #eee;
    background-color: #fff;
}

span
{
    /*width:100%;
    display: block;
    overflow: hidden;
    padding-right: 5px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;*/
}

span > input{ width: 100%; }


.textarea {

}

.div[ng-app] { margin: 10px; }
.table {width: 100% }
form[editable-form] > div {margin: 10px 0;}

.angular-ui-tree-empty {
    border: 0px dashed #bbb;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.selected {
    background-color:rgba(40, 53, 147, 0.19);
    color:black;
    font-weight:bold;
}

.rows, .placeholder {
    padding: 2px;
    width: 50px;
    height: 20px;
    border: 1px solid #333;
    background: #EEE;
}
.placeholder {
    background: #AEF;
}

/* The starting CSS styles for the enter animation */
.Maths.ng-enter {
  transition:0.5s linear all;
  opacity:0;
}

/* The finishing CSS styles for the enter animation */
.Maths.ng-enter.ng-enter-active {
  opacity:1;
}

/* now the element will fade out before it is removed from the DOM */
.Maths.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.Maths.ng-leave.ng-leave-active {
  opacity:0;
}

/* there is no need to define anything inside of the destination
CSS class since the keyframe will take charge of the animation */
.Maths.ng-leave {
  animation: my_fade_animation 0.5s linear;
  -webkit-animation: my_fade_animation 0.5s linear;
}

@keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes my_fade_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/**
* For the correct positioning of the placeholder element, the dnd-list and
* it's children must have position: relative
*/
.simpleDemo ul[dnd-list],
.simpleDemo ul[dnd-list] > li {
    position: relative;
}

/**
* The dnd-list should always have a min-height,
* otherwise you can't drop to it once it's empty
*/
.simpleDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

    /**
* The dndDraggingSource class will be applied to
* the source element of a drag operation. It makes
* sense to hide it to give the user the feeling
* that he's actually moving it.
*/
    .simpleDemo ul[dnd-list] .dndDraggingSource {
        display: none;
    }

    /**
* An element with .dndPlaceholder class will be
* added to the dnd-list while the user is dragging
* over it.
*/
    .simpleDemo ul[dnd-list] .dndPlaceholder {
        display: block;
        background-color: rgba(157, 157, 157, 0.41);
        min-height: 42px;
    }

    /**
* The dnd-lists's child elements currently MUST have
* position: relative. Otherwise we can not determine
* whether the mouse pointer is in the upper or lower
* half of the element we are dragging over. In other
* browsers we can use event.offsetY for this.
*/
    .simpleDemo ul[dnd-list] li {
    /*background-color: rgba(238, 238, 238, 0.25);*/
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 25px 5px;
    margin-bottom: -1px;
    align-items: center;
    text-align: start;
    }

        /**
* Show selected elements in green
*/
.simpleDemo ul[dnd-list] li.selected {

}
.typeahead-demo .custom-popup-wrapper {
position: absolute;
top: 100%;
left: 0;
z-index: 1000;
display: none;
background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
    background-color: #fff;
}
.table-borderlesscards tbody tr td, .table-borderlesscards tbody tr th, .table-borderlesscards thead tr th {
    color: white;
    text-align: left;
    border: white;
    border-style: solid;
    border-width: thin;
}

.glyphicon {
    font-size: 125%;
}
.glyphicon.glyphicon-cog {
    font-size: 125%;
}
ul#menu li {
    display:inline;
    padding-right:6px;
}
.help-block {
    margin-top: 5px;
    margin-bottom: 10px;
    color: white;
    background-color: #a02e2e;
    font-size: small;
}
.second-navbar{
    top: 50px;
    background-color: #AE0000;
    border: black;
    border-style: outset;
    border-width: thin;
    padding-top: 10px;
}
select:focus::-ms-value {background: transparent; color: #555 }
/*sidebar*/
.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}
#rightwrapper {
    padding-right: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -157px;
    left: 55px;
    width: 157px;
    background: #222;
    position: fixed;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

#sidebar-rightwrapper {
    margin-right: -320px;
    right: 55px;
    width: 320px;
    background: #fafafa;
    height: 100%;
    z-index: 0;
}


.sidebar-nav {
    display: block;
    float: left;
    width: 157px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}
#wrapper.active {
    padding-left: 157px;
}
#wrapper.active #sidebar-wrapper {
    left: 157px;
}

#page-content-wrapper {
  width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    display: block;
    float: left;
    text-decoration: none;
    width: 157px;
    background: #252525;
    border-top: 1px solid #373737;
    border-bottom: 1px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 15px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#main_icon
{
    float:right;
   padding-right: 10px;
   padding-top:20px;
}
.sub_icon
{
    float:right;
   padding-right: 10px;
   padding-top:10px;
}
.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 157px;
    width: 157px;
    transition: all .4s ease 0s;
}
}
.angular-ui-tree-node, .angular-ui-tree-placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    line-height: 100%;
}

.angular-ui-tree-handle {
    cursor: move;
    text-decoration: none;
    font-weight: bolder;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

/*.angular-ui-tree-handle:hover {
    color: #AE0000;
    background: #AE0000;
    border-color: #dce2e8;
}*/

.angular-ui-tree-placeholder {
    background: #ddd;
    width:600px;
    padding:0px;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    background: blue;
    border: 2px solid black;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: border-box;
    box-sizing: content-box;
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}


/* --- Tree --- */
.tree-node {
    border: 1px solid #ffffff;
    /*background: #f8faff;
    color: #7c9eb2;*/
}

.nodrop {
    background-color: #f2dede;
}

.tree-node-content {
    margin: 10px;
}

.tree-handle {
    padding: 10px;
    background: #222222;
    color: #FFF;
    margin-right: 10px;
    min-height: 40px;
    line-height: 40px;
    padding: 10px 10px;
    font-size:100%;
    font-size: medium;

}

.angular-ui-tree-handle:hover {
}

/*.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/


.md-sidenav-right {
    top: 50px;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
    background-color: rgb(174, 0, 0);
    color: rgba(255,255,255,0.87);
    padding:0px
}

#functionrowWrapper
{
    width: 100%;
    box-sizing: border-box;
}

.slide-container
{
    text-align: left;
    display: inline-flex;
    margin: 0px 4px;
}

.v-separator
{
    content: "";
    display: inline-flex;
    width: 0px;
    height: 100%;
    border-right: 1px solid #fafafa;
    border-left: 1px solid #b4b4b4;
    padding: 0;
}

md-content.md-default-theme, md-content {
    color: rgba(0,0,0,0.87);
    /*background-color: rgb(255,255,255);*/
}

body.md-default-theme, body, html.md-default-theme, html {
    color: rgba(0,0,0,0.87);
    background-color: rgb(250,250,250);
}
.layout-row > .flex-30 {
    position: fixed;
    right: 0px;
    width: 100%;
    overflow: auto;
}
md-fab-speed-dial.md-fab-bottom-right {
    position: fixed;
}
md-list-item._md-button-wrap > div.md-button:first-child {
    box-shadow: 1px 1px 3px #888888;
}
.stripped {
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px;
  }