<uib-accordion close-others=false>
    <div uib-accordion-group is-open=false>
        <uib-accordion-heading>
            Calculation Bulk
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openIndexOuter[$index], 'glyphicon-chevron-right': !openIndexOuter[$index]}"></i>
        </uib-accordion-heading>
        <br />
        <form class="form-inline">
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <h4>
                    Export
                </h4>
                <button type="button" ng-csv="CSVfield" class="btn btn-default" csv-header="getHeader()" filename="Calculation Input.csv">Export Template</button>
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <h4>
                    Import
                </h4>
                <ng-csv-import content="csv.content"
                               header="csv.header"
                               separator="csv.separator"
                               result="csv.result">

                </ng-csv-import>
            </div>
            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <h4>
                    Bulk Calculate
                </h4>
                <button type="button" ng-csv="BulkCalcButtonClick(csv.result)" class="btn btn-default" filename="@ViewData["SchemeName"] - @ViewData["CalcName"] Calculation Output.csv">Calculate</button>
            </div>
        </form>
    </div>
</uib-accordion>
