<div flex="30">
    <md-toolbar layout="row" class="md-theme-black">
        <md-input-container class="md-block" style="margin:18px 0; color:white; text-align: center;" flex-gt-sm>
            {{MenuHeader}} @ViewData["SchemeName"] - @ViewData["CalcName"]
        </md-input-container>
    </md-toolbar>
    <md-toolbar layout="row" style="color:white; text-align: center; background-color:#3d688c">
        <md-input-container style="color:white; text-align: center; background-color:#3d688c" class="md-block" flex-gt-sm>
            Calculation Input
        </md-input-container>
    </md-toolbar>
    <md-content class="md-no-momentum" layout-margin="">
        <form name="formregress" role="form" ng-submit="CalcButtonClick(formregress)" novalidate>
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th width="25%">Name</th>
                        <th width="75%">Input</th>
                    </tr>
                </thead>
                <tbody ng:model="configreg.Functions">
                    <tr unselectable="on" ng-repeat="rows in configreg.Functions | filter:searchText">
                        @Html.Partial("~/Areas/Configuration/Views/Shared/_InputForm.cshtml")
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="btn btn-default submit-button">Submit</button>
            <a class="btn btn-default" ng-click="RemoveInputsButton()">Clear</a>
        </form>
    </md-content>
</div>       

    