<body ng-controller="configMenuAddCalcCtrl">
    <div>
        <form class="form-horizontal" role="form" ng-submit="ok($index)">
            <div class="modal-header">
                <h3>Add New Calculation</h3>
            </div>
            
            <div class="modal-body">
                <h4>Scheme Name</h4>
                <select class="form-control" ng-model='Scheme' ng-options='scheme for scheme in SchemeList' required></select>
                <h4>Calculation Name</h4>
                <input style="overflow:auto;resize:none" type="text" id="Name" class="form-control" ng-model="Name" rows="1" required>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">OK</button>
                <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
            </div>
          </form>
</div>

</body>
