<body ng-controller="configMenuAddCalcCtrl">
    <div>
        <form class="form-horizontal" role="form" ng-submit="ok($index)">
            <div class="modal-header">
                <h3>Add New Calculation</h3>
            </div>
            <div class="modal-body">
                <h4>Scheme Name</h4>
                <select class="form-control" ng-model='Scheme' ng-options='scheme for scheme in SchemeList' required>
                    <option selected disabled hidden style='display: none' value=''></option>
                </select>
                <h4>Calculation Name</h4>
                <input style="overflow:auto;resize:none" type="text" id="Name" class="form-control" ng-model="Name" rows="1" required>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit">OK</button>
                <button type="button" title="Close" class="btn btn-warning" ng-click="cancel()">
                    <span aria-hidden="true">Close</span>
                    <span class="hide">Close</span>
                </button>
            </div>
        </form>
    </div>
</body>
