@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div  ng-controller="configCtrl">
    

    <div class="container body-content" ng-cloak>
       
        <br>
        <form name="form" role="form" ng-submit="CalcButtonClick(form)" novalidate>
            <div class="navbar navbar-inverse navbar-fixed-top second-navbar">
                <div class="container">
                    <div class="collapse navbar-collapse main-nav">
                        <ul class="nav navbar-nav center-block">
                            <li><button ng-disabled="!form.$dirty || form.$invalid" class="btn btn-default navbar-btn" type="button" ng-click="SaveButtonClick()"> Save </button> </li>
                            <li>
                                <br />
                            </li>
                            <li><button ng-disabled="form.$invalid" class="btn btn-default navbar-btn" type="submit">Calculate </button></li>
                            <li><button class="btn btn-default navbar-btn" type="button" ng-click="HistoryButtonClick('lg')"> History </button></li>
                            <li><button ng-disabled="form.$invalid" class="btn btn-default navbar-btn" type="button" ng-click="RegressionButtonClick('lg', form)"> Regression </button></li>
                            <li><button class="btn btn-default navbar-btn" type="button" ng-click="OpenAllButton()"> Open All </button></li>
                            <li><button class="btn btn-default navbar-btn" type="button" ng-click="CloseAllButton()"> Close All </button></li>
                            <li><a>{{configName}}</a></li>
                        </ul>
                        <div class="col-sm-3 col-md-3 pull-right">
                            
                            <div class="navbar-text">Search</div>
                                <div class="input-group">
                                    <input type="text" class="form-control form-inline input" ng-model="searchText" placeholder="Filter">
                                </div>
                        </div>
 
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <h5></h5>
            <div ui-tree data-clone-enabled="true">
                <br />
                <uib-accordion close-others=false ui-tree-nodes="" ng-model="config">
                    <uib-accordion-group ng-repeat="Category in config" ng-init="colIndex = $index" is-open="openIndex[$index]" ui-tree-node>
                       
                        <uib-accordion-heading>
                            {{Category.Name}}
                            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openIndex[$index], 'glyphicon-chevron-right': !openIndex[$index]}"></i>
                            <a ng-if="Category.Name != 'Input'" ng-click="MoveDownCategory($index, $event)"><i class="pull-left glyphicon glyphicon-arrow-down"></i></a>
                        </uib-accordion-heading>
                        <div>
                            <table class="table table-borderless">
                                <tr>
                                    <td ng-if="Category.Name != 'Input'"><a ng-click="CategoryLogicButtonClick('lg', $index)"><i class="glyphicon glyphicon-wrench"></i></a> </td>
                                    <td ng-if="Category.Name != 'Input'"><a ng-click="DeleteCategory($index)"><i class="center-block glyphicon glyphicon-remove"></i></a> </td>
                                    <td><a ng-click="AddCategoryRows($index, $event)"><i class="center-block glyphicon glyphicon-plus"></i></a></td>
                                    <td ng-if="Category.Name != 'Input'"><a ng-click="CopyCategory($index, $event)"><i class="center-block glyphicon glyphicon-duplicate"></i></a></td>
                                    <td><a ng-click="GroupButtonClick('lg', $index)"><i class="center-block glyphicon glyphicon-option-horizontal"></i></a></td>
                                </tr>
                            </table>
                        </div>

                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Sort</th>
                                    <th>Logic</th>
                                    <th>Function</th>
                                    <th>Config</th>
                                    <th>Variable</th>
                                    <th>Type</th>
                                    <th>Output</th>
                                    <th>Expected</th>
                                    <th>Pass</th>
                                    <th>
                                        <a data-nodrag ng-click="AddFunction(colIndex, $index)">
                                            <span class="center-block glyphicon glyphicon-plus"></span>
                                        </a>
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ui-tree-nodes="" ng:model="Category.Functions">
                                <tr id="Row_{{$parent.$index}}_{{$index}}" inputpreviously-Set config ='config' colIndex="{{$parent.$index}}" rowIndex ="{{$index}}" unselectable="on" ng-repeat="rows in Category.Functions | filter:searchText" ng-click="selectRow($event, $index, $parent.$index)" ng-class="{selected: isRowSelected($index, $parent.$index)}" ui-tree-node>

                                    <td ng-show="Category.Name == 'Input'"></td>

                                    <td ng-show="Category.Name != 'Input'">
                                        <i class="glyphicon glyphicon-list" ui-tree-handle></i>
                                    </td>

                                    <td ng-show="Category.Name == 'Input'"></td>

                                    <td ng-show="Category.Name != 'Input'">
                                        <a ng-click="LogicButtonClick('lg', $parent.$index, $index)">
                                            <span class="glyphicon glyphicon-wrench"></span>
                                        </a>
                                    </td>

                                    <td ng-show="Category.Name == 'Input'">
                                        {{rows.Function}}
                                    </td>
                                    <td ng-show="Category.Name != 'Input'">
                                        <select name="Input_{{$parent.$index}}_{{$index}}" ng:model="rows.Function" class="form-control  input-sm" ng-change="setFunction(rows)" ng-required="true">
                                            <option value=""></option>
                                            <option value="Maths">Maths</option>
                                            <option value="MathsFunctions">Maths Functions</option>
                                            <option value="Period">Period</option>
                                            <option value="Factors">Factors</option>
                                            <option value="Dates">Date Adjustment</option>
                                            <option value="DatePart">Date Part</option>
                                            <option value="ArrayFunctions">Array Functions</option>
                                            <option value="StringFunctions">String Functions</option>
                                        </select>
                                        <p ng-show="form['Input_'+ $parent.$index + '_' + $index].$invalid" class="help-block">Function is required.</p>
                                    </td>

                                    <td>
                                        <span hidden><input type="text" name="FunctionCog_{{$parent.$index}}_{{$index}}" id="FunctionCog_{{$parent.$index}}_{{$index}}" class="table-borderless" ng:model="rows.ID" hidden></span>
      
                                        <a ng-click="FunctionButtonClick('lg', $parent.$index, $index)">
                                            <span uib-popover="{{data || rows.Parameter}}" popover-trigger="mouseenter" popover-popup-delay="1000" class="glyphicon glyphicon-cog"></span>
                                            <p ng-show="form['FunctionCog_'+ $parent.$index + '_' + $index].$error.input" class="help-block">Variable Mismatch</p>
                                        </a>                                  

                                    </td>

                                    <td ng-show="Category.Name == 'Input'">{{rows.Name}}</td>
                                    <td ng-show="Category.Name != 'Input'">
                                        <span uib-popover="{{data || rows.Name}}" popover-trigger="mouseenter" popover-popup-delay="1000" ><input type="text" name="Name_{{$parent.$index}}_{{$index}}" ng:model="rows.Name" class="form-control  input-sm" ng-required="true"></span>
                                        <p ng-show="form['Name_'+ $parent.$index + '_' + $index].$invalid" class="help-block">Name is required.</p>
                                    </td>

                                    <td width="5%">{{rows.Type}}</td>

                                    <td ng-if="Category.Name == 'Input' && (rows.Parameter[0].templateOptions.list == false || rows.Parameter[0].templateOptions.list == undefined) && rows.Parameter[0].templateOptions.required == true" width="25%">
                                        <span show-errors rows ='Category.Functions'><input inputformat-Validation config ='config' rowIndex ="{{$index}}" name="Output_{{$parent.$index}}_{{$index}}" id="Output_{{$parent.$index}}_{{$index}}" type="text" ng:model="rows.Output" class="form-control  input-sm" ng-required="true"></span>
                                        <p ng-show="form['Output_'+ $parent.$index + '_' + $index].$invalid" class="help-block">Value is required.</p>
                                        <p ng-show="form['Output_'+ $parent.$index + '_' + $index].$error.inputformat" class="help-block">Input format incorrect</p>
                                    </td>
                                    <td ng-if="Category.Name == 'Input' && (rows.Parameter[0].templateOptions.list == false || rows.Parameter[0].templateOptions.list == undefined) && (rows.Parameter[0].templateOptions.required == false || rows.Parameter[0].templateOptions.required == undefined)" width="25%" >
                                        <span><input inputformat-Validation rowIndex ="{{$index}}" config ='config' type="text" ng:model="rows.Output" name="Output_{{$parent.$index}}_{{$index}}" id="Output_{{$parent.$index}}_{{$index}}" class="form-control   input-sm"></span>
                                        <p ng-show="form['Output_'+ $parent.$index + '_' + $index].$error.inputformat" class="help-block">Input format incorrect</p>
                                    </td>

                                    <td ng-if="Category.Name == 'Input' && rows.Parameter[0].templateOptions.list == true  && rows.Parameter[0].templateOptions.required == true" width="25%">
                                        <select class="form-control  input-sm" name="Output_{{$parent.$index}}_{{$index}}" id="Output_{{$parent.$index}}_{{$index}}"  ng-model="rows.Output">
                                            <option ng-repeat="option in rows.Parameter[0].templateOptions.options" value="{{option.Name}}">{{option.Name}}</option>
                                        </select>
                                        <p ng-show="form['Output_'+ $parent.$index + '_' + $index].$invalid" class="help-block">Value is required.</p>
                                    </td>
                                    <td ng-if="Category.Name == 'Input' && rows.Parameter[0].templateOptions.list == true  && (rows.Parameter[0].templateOptions.required == false || rows.Parameter[0].templateOptions.required == undefined)" width="25%">
                                        <select class="form-control  input-sm" name="Output_{{$parent.$index}}_{{$index}}" id="Output_{{$parent.$index}}_{{$index}}"  ng-model="rows.Output" >
                                            <option ng-repeat="option in rows.Parameter[0].templateOptions.options" value="{{option.Name}}">{{option.Name}}</option>
                                        </select>
                                    </td>

                                    <td style="word-wrap: break-word;min-width: 280px;max-width: 280px;" ng-if="Category.Name != 'Input'" width="5%">{{rows.Output}}</td>

                                    <td ng-show="Category.Name == 'Input'" width="5%"></td>
                                    <td ng-show="Category.Name != 'Input'" width="10%"><span><input type="text" ng:model="rows.ExpectedResult" class="form-control  input-sm"></span></td>

                                    <td ng-class="{'green' : rows.Pass == 'true', 'red': rows.Pass == 'false', 'grey': rows.Pass == 'miss'}"><span></span></td>
                                    <td>
                                        <a data-nodrag ng-click="AddFunctionRows($parent.$index, $index)">
                                            <i class="center-block glyphicon glyphicon-plus"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a ng-show="isRowSelected($index, $parent.$index)" data-nodrag ng-click="CopyFunction($parent.$index, $index)">
                                            <i class="center-block glyphicon glyphicon-duplicate"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a ng-show="isRowSelected($index, $parent.$index)" data-nodrag ng-click="DeleteFunction($parent.$index, $index)">
                                            <i class="center-block glyphicon glyphicon-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </uib-accordion-group>
                </uib-accordion>
            </div>
        </form>

    </div>
</div>
