@{
    ViewBag.Title = "Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body ng-controller="formCtrl" class="ng-cloak">

    <div class="container">

        <h1>Dynamic Form</h1>

        <dynamic-table-form fields="fields" data="data" class="form-horizontal">

            <input class="form-control text-box single-line" dynamic-field-type="string" ng-model="value" type="text" maxlength="{{config.maxLength}}" size="{{config.maxLength}}">

            <input class="form-control text-box single-line" dynamic-field-type="date" ng-model="value" type="date">

            <select  class="form-control text-box" dynamic-field-type="select" ng-model="value"
                    ng-options="option.value as option.caption for option in config.options"></select>

            <input  class="form-control text-box" dynamic-field-type="integer" ng-model="value" type="number" size="{{config.maxLength}}" maxlength="{{config.maxLength}}" min="{{config.minValue}}" max="{{config.maxValue}}">

        </dynamic-table-form>

        <h1>Raw Data</h1>

        <pre>{{data|json}}</pre>

    </div>

</body>
</html>