<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Variable</label>
        <input ng-model="Parameter[0].key" ng-pattern="noSpacesPattern" required>
    </md-input-container>

    <!--<label for="model" class="control-label col-md-2">Variable</label>
    <div class="col-sm-9">
        <input type="Text" id="model" name="Variable" class="form-control" ng-model="form.key" ng-pattern="noSpacesPattern" required />
        <p ng-show="inputform.Variable.$error.pattern" class="help-block">No Spaces or Special Characters</p>
    </div>-->
</div>
<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Form Label</label>
        <input ng-model="Parameter[0].templateOptions.label" required>
    </md-input-container>

</div>
<div>
    <label>Type</label>
    <md-select required ng:model="Parameter[0].templateOptions.type" name="ErrorWarning_{{colIndex}}_{{rowIndex}}" id="ErrorWarning_{{colIndex}}_{{rowIndex}}">
        <md-option value=""></md-option>
        <md-option value="String">String</md-option>
        <md-option value="Decimal">Decimal</md-option>
        <md-option value="Date">Date</md-option>
    </md-select>
</div>

<div>
    <md-checkbox name="tos" ng-model="Parameter[0].templateOptions.required">
        Is the field Required for the calculation?
    </md-checkbox>
</div>
<div>
    <md-checkbox name="tos" ng-model="Parameter[0].templateOptions.list">
        Should the input be a dropdown list?
    </md-checkbox>
</div>
                    
<div ng-if="Parameter[0].templateOptions.list == true">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Dropdown List</label>
        <input ng-model="Parameter[0].templateOptions.options" required>
    </md-input-container>
</div>
