@{
    ViewBag.Title = "Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body ng-controller="calculationCtrl" ng-cloak>
    <ng-form name="form" role="form" ng-submit="calcbuttonclick(form)" layout="row" style="width:100%">
        <md-content flex="70" layout-padding="" layout="column" style="padding:0px; border-right: thin solid; border-right-color: #e8e1d6">              
             @Html.Partial("_CalculationBulk")          
            <div  class="panel-heading">
                <h2 class="panel-title">Calculation Output</h2>
            </div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Search</label>
                <input type="text" ng-model="test">
            </md-input-container>
            <uib-accordion close-others=false ng-model="output">
                <div uib-accordion-group ng-repeat="group in output" ng-init="colIndex = $index" is-open="openIndex[$index]">
                    <uib-accordion-heading>
                        {{group.Group}}
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openIndex[$index], 'glyphicon-chevron-right': !openIndex[$index]}"></i>
                    </uib-accordion-heading>
                    <br />
                    <table id="table" class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="45%">
                                    Field
                                </th>
                                <th width="45%">
                                    Value
                                </th>
                                <th width="10%">
                                    Sub Output
                                </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in group.Output | filter : test" ng-class="{'redrow': row.Field.indexOf('Comments') > -1, 'white': row.Field.indexOf('Comments') < 0 }">
                                <td>
                                    <md-tooltip md-direction="bottom"ng-if="row.Description != null">{{row.Description}}</md-tooltip> 
                                    {{row.Field  | underscoreless}}
                                </td>
                                <td style="word-wrap: break-word;min-width: 175px; max-width: 175px;">
                                    {{row.Value}}
                                </td>
                                <td>
                                    <a ng-if="row.SubOutput != null" ng-click="OutputButtonClick('lg', $parent.$index, $index, row.SubOutput)">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>
                                    <a ng-show="row.Function == 'Table'" data-nodrag ng-click="TableButtonClick('lg', $parent.$index, $index, row.Parameter, row.Field)">
                                        <md-icon ng-hide="viewOnly" class="glyphicon glyphicon" md-svg-src="/Images/table.svg"></md-icon>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </uib-accordion>
            <md-fab-speed-dial ng-hide="false" md-direction="left" md-open="FabOpen"
                               class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': true}"
                               ng-mouseenter="FabOpen=true" ng-mouseleave="FabOpen=false">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                        <md-icon md-svg-src="/Images/menu.svg"> </md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions ng-controller="configBuilderUICtrl">
                    <md-button ng-disabled="form.$invalid || viewOnly" aria-label="Calculate" class="md-fab md-raised md-mini"
                               ng-click="CalcButtonClick(form)">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                    md-autohide="false">
                            Calculate
                        </md-tooltip>
                        <md-icon md-svg-src="/Images/calculator.svg"> </md-icon>
                    </md-button>
                    <md-button aria-label="Export" class="md-fab md-raised md-mini"
                               ng-click="SpecButtonClick(form)" ng-csv="ExportCalcButtonClick(output)" filename="@ViewData["SchemeName"] - @ViewData["CalcName"] Calculation Output.csv">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                    md-autohide="false">
                            Export
                        </md-tooltip>
                        <md-icon md-svg-src="/Images/file.svg"> </md-icon>
                    </md-button>
                    <md-button aria-label="CloseAll" class="md-fab md-raised md-mini"
                               ng-click="CloseAllButton()">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                    md-autohide="false">
                            Close All
                        </md-tooltip>
                        <md-icon md-svg-src="/Images/directional-arrow.svg"> </md-icon>
                    </md-button>
                    <md-button aria-label="OpenAll" class="md-fab md-raised md-mini"
                               ng-click="OpenAllButton()">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                    md-autohide="false">
                            Open All
                        </md-tooltip>
                        <md-icon md-svg-src="/Images/down-arrow.svg"> </md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </md-content>
        @Html.Partial("_InputBar")
    </ng-form>      
</body>
</html>