@{
    ViewBag.Title = "Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>

<body ng-controller="calculationCtrl" ng-cloak>
    
    <div class="container">
        <br />
        <uib-accordion close-others=false>
            <uib-accordion-group is-open=false>
                <uib-accordion-heading>
                    Calculation Bulk
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openIndexOuter[$index], 'glyphicon-chevron-right': !openIndexOuter[$index]}"></i>
                </uib-accordion-heading>
                <br />
                <form>
                    <div class="container">
                        <h4>
                            Export
                        </h4> 
                        <button type="button" ng-csv="CSVfield" class="btn btn-default" csv-header="getHeader()" filename="Calculation Input.csv">Export Template</button>
                        <h4>
                            Import
                        </h4>
                        <ng-csv-import content="csv.content"
                                       header="csv.header"
                                       separator="csv.separator"
                                       result="csv.result" >

                        </ng-csv-import>
                        <h4>
                            Download
                        </h4>
                        <button type="button" ng-csv="BulkCalcButtonClick(csv.result)"  class="btn btn-default" filename="Calculation Output.csv">Download</button>
                    </div>

                </form>
            </uib-accordion-group>
        </uib-accordion>

        <uib-accordion close-others=false>
            <uib-accordion-group is-open=false>
                <uib-accordion-heading>
                    Calculation Input
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openIndexOuter[$index], 'glyphicon-chevron-right': !openIndexOuter[$index]}"></i>
                </uib-accordion-heading>
                <br />
                <form name="formregress" role="form" ng-submit="CalcButtonClick(formregress)" novalidate>
                   <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th width="25%">Name</th>
                                <th width="75%">Input</th>
                            </tr>
                        </thead>
                        <tbody ng:model="configreg.Functions">
                            <tr unselectable="on" ng-repeat="rows in configreg.Functions | filter:searchText">
                                <td width="5%">{{rows.Parameter[0].templateOptions.label}}</td>
                                <td ng-if="(rows.Parameter[0].templateOptions.list == false || rows.Parameter[0].templateOptions.list == undefined)  && rows.Parameter[0].templateOptions.required == true" width="25%">
                                    <span show-errors rows='Category.Functions'><input inputformat-Validation config='[configreg]' rowIndex="{{$index}}" name="Output_{{$index}}_{{$index}}" id="Output_{{$index}}_{{$index}}" type="text" ng:model="rows.Output" class="form-control  input-sm" ng-required="true"></span>
                                    <p ng-show="formregress['Output_'+ $index + '_' + $index].$invalid" class="help-block">Value is required.</p>
                                    <p ng-show="formregress['Output_'+ $index + '_' + $index].$error.inputformat" class="help-block">Input format incorrect</p>
                                </td>
                                <td ng-if="(rows.Parameter[0].templateOptions.list == false || rows.Parameter[0].templateOptions.list == undefined)  && (rows.Parameter[0].templateOptions.required == false || rows.Parameter[0].templateOptions.required == undefined)" width="25%">
                                    <span><input inputformat-Validation rowIndex="{{$index}}" config='[configreg]' type="text" ng:model="rows.Output" name="Output_{{$index}}_{{$index}}" id="Output_{{$index}}_{{$index}}" class="form-control   input-sm"></span>
                                    <p ng-show="formregress['Output_'+ $index + '_' + $index].$error.inputformat" class="help-block">Input format incorrect</p>
                                </td>
                                <td ng-if="rows.Parameter[0].templateOptions.list == true  && rows.Parameter[0].templateOptions.required == true" width="25%">
                                    <select class="form-control  input-sm" name="Output_{{$parent.$index}}_{{$index}}" id="Output_{{$parent.$index}}_{{$index}}" ng-model="rows.Output">
                                        <option ng-repeat="option in rows.Parameter[0].templateOptions.options" value="{{option.Name}}">{{option.Name}}</option>
                                    </select>
                                    <p ng-show="form['Output_'+ $parent.$index + '_' + $index].$invalid" class="help-block">Value is required.</p>
                                </td>
                                <td ng-if="rows.Parameter[0].templateOptions.list == true  && (rows.Parameter[0].templateOptions.required == false || rows.Parameter[0].templateOptions.required == undefined)" width="25%">
                                    <select class="form-control  input-sm" name="Output_{{$parent.$index}}_{{$index}}" id="Output_{{$parent.$index}}_{{$index}}" ng-model="rows.Output">
                                        <option ng-repeat="option in rows.Parameter[0].templateOptions.options" value="{{option.Name}}">{{option.Name}}</option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-default submit-button">Submit</button>
                </form>
            </uib-accordion-group>
        </uib-accordion>
       
        <uib-accordion close-others=false>
            <uib-accordion-group is-open=false>
                <uib-accordion-heading>
                    Calculation Output
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openIndexOuter[$index], 'glyphicon-chevron-right': !openIndexOuter[$index]}"></i>
                </uib-accordion-heading>
                
                <div class="container-fluid">
                    <br />
                    <input type="text" class="form-control  input" ng-model="test" placeholder="Filter">
                    <br />
                    <uib-accordion close-others=false ng-model="output">

                        <uib-accordion-group ng-repeat="group in output" ng-init="colIndex = $index"  is-open="openIndex[$index]">
                            <uib-accordion-heading>
                                {{group.Group}}
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openIndex[$index], 'glyphicon-chevron-right': !openIndex[$index]}"></i>
                            </uib-accordion-heading>
                            <br />
                            <table id="table" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th width="50%">
                                            Field
                                        </th>
                                        <th width="50%">
                                            Value
                                        </th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in group.Output | filter : test" ng-class="{'redrow': row.Field.indexOf('Comments') > -1}">
                                        <td>
                                            {{row.Field}}
                                        </td>
                                        <td>
                                            {{row.Value}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </uib-accordion-group>
        </uib-accordion>
 
    </div>
</body>
</html>