@{
    ViewBag.Title = "Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body ng-controller="calculationCtrl" class="ng-cloak">   
    <div class="container">

        <h1>Dynamic Form</h1>

        <dynamic-table-form fields="fieldset" data="data" class="form-horizontal">

            <input class="form-control text-box single-line" dynamic-field-type="string" ng-model="value" type="text" maxlength="{{config.maxLength}}" size="{{config.maxLength}}">

            <input class="form-control uib-datepicker" dynamic-field-type="date" ng-model="value" type="date">

            <select  class="form-control text-box" dynamic-field-type="select" ng-model="value"
                    ng-options="option.value as option.caption for option in config.options"></select>

            <input  class="form-control text-box" dynamic-field-type="integer" ng-model="value" type="number" size="{{config.maxLength}}" maxlength="{{config.maxLength}}" min="{{config.minValue}}" max="{{config.maxValue}}">

        </dynamic-table-form>
        <input class="btn btn-default" type="button" value="Calculate" ng-click="CalcButtonClick()" />

            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">Calculation Ouput</a>
                        </h4>
                    </div>

                    <uib-accordion close-others=false ng-model="output">
                        <uib-accordion-group ng-repeat="group in output" ng-init="colIndex = $index" is-open=true>
                            <uib-accordion-heading>
                                {{group.Group}}
                                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </uib-accordion-heading>

                            <table id="table" class="table">
                                <tr class="h4">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Field
                                    </th>
                                    <th>
                                        Value
                                    </th>
                                <tr ng-repeat="row in group.Output">
                                    <td>
                                        {{row.ID}}
                                    </td>
                                    <td>
                                        {{row.Field}}
                                    </td>
                                    <td>
                                        {{row.Value}}
                                    </td>
                                </tr>
                            </table>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
                </div>
            </div>
 
</body>
</html>