@{
    ViewBag.Title = "Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>

<body ng-controller="calculationCtrl" ng-cloak>
    
    <div class="container">
        <br />
        <uib-accordion close-others=false>
            <uib-accordion-group is-open=false>
                <uib-accordion-heading>
                    <table class='table table-borderless'>
                        <tr>
                            <th width="95%">
                                <h2 class="panel-title">
                                    Calculation Bulk
                                </h2>
                            </th>
                            <th width="5%"><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></th>
                        </tr>
                    </table>
                </uib-accordion-heading>
                <br />
                <form>
                    <div class="container">
                        <h4>
                            Export
                        </h4> 
                        <button type="button" ng-csv="CSVfield" class="btn btn-default" csv-header="getHeader()" filename="test.csv">Export Template</button>
                        <h4>
                            Import
                        </h4>
                        <ng-csv-import content="csv.content"
                                       header="csv.header"
                                       separator="csv.separator"
                                       result="csv.result" >

                        </ng-csv-import>
                        <h4>
                            Parse
                        </h4>
                        <button type="button" ng-click="BulkCalcButtonClick(csv.result)" class="btn btn-default" >Parse</button>
                        <h4>
                            Download
                        </h4>
                        <button type="button" ng-csv="BulkOutput"  @*csv-header="getBulkOutput()"*@ class="btn btn-default" filename="test.csv">Download</button>
                    </div>

                </form>
            </uib-accordion-group>
        </uib-accordion>

        <uib-accordion close-others=false>
            <uib-accordion-group is-open=false>
                <uib-accordion-heading>
                    <table class='table table-borderless'>
                        <tr>
                            <th width="95%">
                                <h2 class="panel-title">
                                    Calculation Input
                                </h2>
                            </th>
                            <th width="5%"><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></th>
                        </tr>
                    </table>
                </uib-accordion-heading>
                <br />
                <form ng-submit="CalcButtonClick()">
                    <formly-form model="formset.fields" fields="fieldset">
                        <button type="submit" class="btn btn-default submit-button">Submit</button>
                    </formly-form>
                </form>
            </uib-accordion-group>
        </uib-accordion>
       
        <uib-accordion close-others=false>
            <uib-accordion-group is-open=true>
                <uib-accordion-heading>
                    <table class='table table-borderless'>
                        <tr>
                            <th width="95%">
                                <h2 class="panel-title">
                                    Calculation Output
                                </h2>
                            </th>
                            <th width="5%"><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></th>
                        </tr>
                    </table>
                </uib-accordion-heading>
                
                <div class="container-fluid">
                    <br />
                    <input type="text" class="form-control  input-lg" ng-model="test" placeholder="Filter">
                    <br />
                    <uib-accordion close-others=false ng-model="output">

                        <uib-accordion-group ng-repeat="group in output" ng-init="colIndex = $index"  is-open=true>
                            <uib-accordion-heading>
                                <table class='table table-borderless'>
                                    <tr>
                                        <th width="95%">
                                            <h4 class="panel-title"> {{group.Group}} </h4>
                                        </th>
                                        <th width="5%"><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></th>
                                    </tr>
                                </table>
                            </uib-accordion-heading>
                            <br />
                            <table id="table" class="table table-bordered table">
                                <tr class="h4">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Field
                                    </th>
                                    <th>
                                        Value
                                    </th>
                                <tr ng-repeat="row in group.Output | filter : test">
                                    <td>
                                        {{row.ID}}
                                    </td>
                                    <td>
                                        {{row.Field}}
                                    </td>
                                    <td>
                                        {{row.Value}}
                                    </td>
                                </tr>
                            </table>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </uib-accordion-group>
        </uib-accordion>
 
    </div>
</body>
</html>