@{
    ViewBag.Title = "Input";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<body ng-controller="calculationCtrl" ng-cloak>
    <ng-form name="form" role="form" ng-submit="calcbuttonclick(form)" layout="row" style="width:100%">
        <md-content flex="70" layout-padding="" layout="column" style="padding:0px; border-right: thin solid; border-right-color: #e8e1d6">              
            <div class="center-block" ng-include="'/Areas/Project/Scripts/busyModal.html'" ng-show="isLoading"></div>
             @Html.Partial("_CalculationBulk")          
            <div  class="panel-heading">
                <h2 class="panel-title">Calculation Output</h2>
            </div>
            <div class="nav navbar-nav pull-right">
                <div class="navbar-text">Search</div>
                <div class="input-group">
                    <input type="text" class="form-control form-inline input" ng-model="test" placeholder="Filter">
                </div>
            </div>
            <uib-accordion close-others=false ng-model="output">
                <div uib-accordion-group ng-repeat="group in output" ng-init="colIndex = $index" is-open="openIndex[$index]">
                    <uib-accordion-heading>
                        {{group.Group}}
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openIndex[$index], 'glyphicon-chevron-right': !openIndex[$index]}"></i>
                    </uib-accordion-heading>
                    <br />
                    <table id="table" class="table table-bordered">
                        <thead>
                            <tr>
                                <th width="45%">
                                    Field
                                </th>
                                <th width="45%">
                                    Value
                                </th>
                                <th width="10%">
                                    Sub Output
                                </th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in group.Output | filter : test" ng-class="{'redrow': row.Field.indexOf('Comment') > -1}" style="background-color:white">
                                <td>
                                    {{row.Field}}
                                </td>
                                <td style="word-wrap: break-word;min-width: 175px; max-width: 175px;">
                                    {{row.Value}}
                                </td>
                                <td>
                                    <a ng-if="row.SubOutput != null" ng-click="OutputButtonClick('lg', $parent.$index, $index, row.SubOutput)">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </uib-accordion>
            @Html.Partial("_FABButton")
        </md-content>
        @Html.Partial("_InputBar")
    </ng-form>      
</body>
</html>