
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h4 class="text-center">Calculation Forms</h4>
<div class="container body-content" ng-controller="calculationMenuCtrl" ng-cloak>
    
    <div class="nav navbar-nav pull-right">
        <div class="navbar-text">Search</div>
        <div class="input-group">
            <input type="text" class="form-control form-inline input" ng-model="test" placeholder="Filter">
        </div>
    </div>

    <table class="table table-bordered table table-responsive">
        <thead>
            <tr>
                <th>
                    <a href="#" ng-click="orderByField='Scheme'; reverseSort = !reverseSort">
                        Scheme <span ng-show="orderByField == 'Scheme'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="orderByField='Name'; reverseSort = !reverseSort">
                        Name <span ng-show="orderByField == 'Name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="orderByField='UpdateDate'; reverseSort = !reverseSort">
                        Updated <span ng-show="orderByField == 'UpdateDate'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                    </a>
                </th>
                <th>
                    Version
                </th>
            </tr>
        </thead>        

        <tr ng-repeat="board in Boards  | orderBy:orderByField:reverseSort | filter : test">
            <td ng-hide="editingData[board.ID]" ng-click="openBoard()">{{board.Scheme}}</td>
            <td ng-hide="editingData[board.ID]" ng-click="openBoard()">{{board.Name}}</td>
            <td ng-show="editingData[board.ID]"><input class="form-control text-box single-line" type="text" ng-model="board.Name" /></td>
            <td width="25%" ng-click="openBoard()">{{board.UpdateDate | date:'d MMMM yyyy h:mm a'}}</td>
            <td width="10%" ng-click="openBoard()">{{board.Version}}</td>
        </tr>
    </table>
</div>