
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h4 class="text-center">Calculation Forms</h4>
<div class="container body-content" ng-controller="calculationMenuCtrl" ng-cloak>

    <table class="table table-bordered table table-responsive">
        <tr>
            <th>
                Scheme
            </th>
            <th>
                Name
            </th>
            <th>
                Updated
            </th>
            <th>
                Version
            </th>
        </tr>
        <tr ng-repeat="board in Boards">
            <td ng-hide="editingData[board.ID]" ng-click="openBoard()">{{board.Scheme}}</td>
            <td ng-hide="editingData[board.ID]" ng-click="openBoard()">{{board.Name}}</td>
            <td ng-show="editingData[board.ID]"><input class="form-control text-box single-line" type="text" ng-model="board.Name" /></td>
            <td width="10%" ng-click="openBoard()">{{board.UpdateDate}}</td>
            <td width="10%" ng-click="openBoard()">{{board.Version}}</td>
        </tr>
    </table>

</div>