@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="width:99%; padding-left:0%; margin-left:2%; margin-right:2%; padding-right:2%;" ng-controller="boardCtrl">
    <input class="btn btn-default" type="button" value="Add" ng-click="AddButtonClick()" />
    <input class="btn btn-default" type="button" value="Save" ng-click="SaveButtonClick()" />
    <input class="btn btn-default" type="button" value="CSV" ng-click="CSVButtonClick()" />
     <form editable-form name="tableform">
        <table class="table table-bordered col-sm-3">
            <tr>

                <td>
                    <select name="singleSelect" ng-model="search.Moscow" class="form-control">
                        <option value="" disabled selected>Enter M.o.S.C.o.W rating</option>
                        <option value="">All</option>
                        <option value="Must">Must</option>
                        <option value="Should">Should</option>
                        <option value="Could">Could</option>
                        <option value="Won't">Won't</option>
                        {{Moscow}}
                    </select>
                </td>
                <td>
                    <select name="singleSelect" ng-model="search.Timebox" class="form-control">
                        <option value="" disabled selected>Enter Timebox</option>
                        <option value="">All</option>
                        <option value="Timebox 1">Timebox 1</option>
                        <option value="Timebox 2">Timebox 2</option>
                        <option value="Timebox 3">Timebox 3</option>
                        <option value="Timebox 4">Timebox 4</option>
                        <option value="Timebox 5">Timebox 5</option>
                        <option value="Timebox 6">Timebox 6</option>
                        {{Timebox}}
                    </select>
                </td>
                <td>
                    <select name="singleSelect" ng-model="search.User" class="form-control">
                        <option value="">All</option>
                        <option value="" disabled selected>Select User</option>
                        <option value="Jayson Herbert">Jayson Herbert</option>
                        <option value="John Smith">John Smith</option>
                        {{User}}
                    </select>
                </td>

            </tr>
        </table>
    </form>

    <div class="simpleDemo row">

        <div ng-repeat="col in columns" class="col-sm-3 col-xs-12 panel panel-primary colStyle" >
            <div class="panel ">
                <div class="panel-heading">
                    <h3 class="panel-title">{{col.Name}}</h3>
                </div>

                <div class="panel-body">

                    <ul dnd-list="col.Stories">

                        <li ng-repeat="story in col.Stories | filter: search"
                            dnd-draggable="story"
                            dnd-moved="col.Stories.splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="col.Stories.selected = story"
                            ng-class="{'selected': col.Stories.selected === story}"
                            on-long-press="UpdateButtonClick('lg')"
                            prevent-click="true">
                            {{story.Name}}
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</div>

