@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper" class="active"   ng-controller="boardCtrl" ng-cloak>
    <!-- Sidebar -->
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
            <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">       
            
            <li>
                <select name="singleSelect" ng-model="search.Moscow" class="form-control" style="background-color:#222; border:none; color:#999">
                    <option value="" disabled selected>Priority</option>
                    <option value= '!'>Unassigned</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    {{Moscow}}
                </select>
            </li>
            <li>
                <select name="singleSelect" ng-model="search.User" class="form-control" style="background-color:#222; border:none; color:#999">
                    <option value="" disabled selected>User</option>
                    <option value='!'>Unassigned</option>
                    <option ng-repeat="option in UserNames" value="{{option.Value}}">{{option.Value}}</option>
                    {{User}}
                </select>
            </li>
            <li><input ng-disabled="false" type="text" class="form-control form-inline input" ng-model="search" placeholder="Search" style="background-color:#222; border:none; color:#999"></li>
            <li><a ng-click="ClearFilterClick()">Clear Filter<span class="sub_icon glyphicon glyphicon-filter"></span></a></li>
            <li><a ng-click="ReportButtonClick()">Reports<span class="sub_icon glyphicon glyphicon-file"></span></a></li>
            <li><a ng-csv="CSVButtonClick()">Export<span class="sub_icon glyphicon glyphicon-export"></span></a></li>
            <li><a ng-click="ImportButtonClick(csv.result)">Import<span class="sub_icon glyphicon glyphicon-import"></span></a></li>
            <li>
                <ng-csv-import class="CSVButton" content="csv.content" header="csv.header" separator="csv.separator" result="csv.result"  upload-button-label="csv.uploadButtonLabel"></ng-csv-import>
            </li>
            <li tyle="background-color:#222; border:none; color:#999" class="divider"></li>
            <li class="sidebar-brand"><h5 style="background-color:#222; border:none; color:#999">@ViewData["H1"]</h5></li>  
        </ul>
    </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
                
            <div class="row">
               <div class="simpleDemo row">
                <div ng-repeat="col in columns" class="col-sm-3 col-xs-12 panel panel-primary colStyle" ng-init="colIndex = $index" ng-cloak>
                    <div class="panel ">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{col.Name}}</h3>
                            <table class="table table-borderless">
                                <tr>
                                    <td>
                                        <a ng-click="AddButtonClick($index)"><i class="glyphicon glyphicon-plus"></i></a>
                                    </td>
                                    <td>
                                        <h4 ng-if="col.Name == 'Backlog'">{{BacklogCount}} / {{TotalCount}}</h4>
                                        <h4 ng-if="col.Name == 'In Progress'">{{InProgressCount}} / {{TotalCount}}</h4>
                                        <h4 ng-if="col.Name == 'Pending'">{{PendingCount}} / {{TotalCount}}</h4>
                                        <h4 ng-if="col.Name == 'Release'">{{ReleaseCount}} / {{TotalCount}}</h4>
                                    </td>
                                    <td>
                                        <a ng-click="OrderColumnByClick($index)"><i class="glyphicon glyphicon-sort"></i></a>
                                    </td>

                                </tr>
                            </table>
                        </div>

                        <div class="panel-body" ui-tree data-empty-placeholder-enabled="true" data-max-depth="1">
                            <ol ui-tree-nodes="" ng-model="col.Stories">
                                <li ng-repeat="story in col.Stories | filter: search"
                                    ng-class="{'greenCard' :  story.RAG == 'Green', 'redCard': story.RAG == 'Red', 'amberCard': story.RAG == 'Amber',  'standardCard': story.RAG == ''}"
                                      ui-tree-node>
                                    <div class="pull-left tree-handle" ui-tree-handle>
                                        <span class="glyphicon glyphicon-list"></span>
                                    </div>
                                    <div  ng-click="UpdateButtonClick('lg', colIndex, $index)" ng-class="{'greenCard' :  story.RAG == 'Green', 'redCard': story.RAG == 'Red', 'amberCard': story.RAG == 'Amber',  'standardCard': story.RAG == ''}" class="tree-node">

                                        <div class="tree-node-content">
                                            <a data-nodrag ng-click="toggle(this)">
                                                @*<span class="glyphicon" ng-class="{
                                                    'glyphicon-chevron-right': collapsed,
                                                    'glyphicon-chevron-down': !collapsed
                                                    }">*@
                                            @*</span>*@
                                            </a>
                                           {{story.Name}}
                                         </div>
                                    </div>
                            </ol>
                        </div>

                        @*<div class="panel-body">
                            <ul class="caption" dnd-list="col.Stories">
                                <li ng-repeat="story in col.Stories | filter: search"
                                    dnd-draggable="story"
                                    dnd-moved="col.Stories.splice($index, 1)"
                                    dnd-effect-allowed="move"
                                    dnd-selected="col.Stories.selected = story"
                                    
                                    ng-click="UpdateButtonClick('lg', colIndex, $index)"
                                    >
                                    <p>
                                        {{story.Name}}
                                    </p>
                                    <p>
                                        <h5 ng-if="story.Moscow == 'Must'">M</h5>
                                        <h5 ng-if="story.Moscow == 'Should'">S</h5>
                                        <h5 ng-if="story.Moscow == 'Could'">C</h5>
                                        <h5 ng-if="story.Moscow == 'Wont'">W</h5>
                                    </p>
                                </li>
                            </ul>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>