@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wrapper" class="active"   ng-controller="boardCtrl" ng-cloak>
    <!-- Sidebar -->
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul id="sidebar_menu" class="sidebar-nav">
            <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
        </ul>
        <ul class="sidebar-nav" id="sidebar">       
            
            <li>
                <select name="singleSelect" ng-model="search.Moscow" class="form-control" style="background-color:#222; border:none; color:#999">
                    <option value="" disabled selected>Priority</option>
                    <option value= '!'>Unassigned</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    {{Moscow}}
                </select>
            </li>
            <li>
                <select name="singleSelect" ng-model="search.User" class="form-control" style="background-color:#222; border:none; color:#999">
                    <option value="" disabled selected>User</option>
                    <option value='!'>Unassigned</option>
                    <option ng-repeat="option in UserNames" value="{{option.Value}}">{{option.Value}}</option>
                    {{User}}
                </select>
            </li>
            <li><input ng-disabled="false" type="text" class="form-control form-inline input" ng-model="search" placeholder="Search" style="background-color:#222; border:none; color:#999"></li>
            <li><a ng-click="ClearFilterClick()">Clear Filter<span class="sub_icon glyphicon glyphicon-filter"></span></a></li>
            <li><a ng-click="ReportButtonClick()">Reports<span class="sub_icon glyphicon glyphicon-file"></span></a></li>
            <li><a ng-csv="CSVButtonClick()" filename="@ViewData["H1"] - Project Board.csv">Export<span class="sub_icon glyphicon glyphicon-export"></span></a></li>
            <li><a ng-click="ImportButtonClick(csv.result)">Import<span class="sub_icon glyphicon glyphicon-import"></span></a></li>
            <li>
                <ng-csv-import class="CSVButton" content="csv.content" header="csv.header" separator="csv.separator" result="csv.result"  upload-button-label="csv.uploadButtonLabel"></ng-csv-import>
            </li>
            <li style="background-color:#222; border:none; color:#999" class="divider"></li>
        </ul>
    </div>

        <!-- Page content -->
        <div id="page-content-wrapper">
            <!-- Keep all page content within the page-content inset div! -->
            <div class="page-content inset">
            <div class="row" ui-tree data-clone-enabled="true">
                <h2 class="center-block text-center"><a>@ViewData["H1"]</a></h2>
                <div class="simpleDemo row"  ui-tree-nodes="" ng-model="columns" data-nodrop-enabled="true">
                <div ng-repeat="col in columns" class="col-sm-3 col-xs-12 panel panel-primary colStyle" ng-init="colIndex = $index" ng-cloak ui-tree-node>
                    <div class="panel ">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{col.Name}}</h3>
                            <table class="table table-borderless">
                                <tr>
                                    <td>
                                        <a ng-click="AddButtonClick($index)"><i class="glyphicon glyphicon-plus"></i></a>
                                    </td>
                                    <td>
                                        <h4 ng-if="col.Name == 'Backlog'">{{BacklogCount}} / {{TotalCount}}</h4>
                                        <h4 ng-if="col.Name == 'In Progress'">{{InProgressCount}} / {{TotalCount}}</h4>
                                        <h4 ng-if="col.Name == 'Pending'">{{PendingCount}} / {{TotalCount}}</h4>
                                        <h4 ng-if="col.Name == 'Release'">{{ReleaseCount}} / {{TotalCount}}</h4>
                                    </td>
                                    <td>
                                        <a ng-click="OrderColumnByClick($index)"><i class="glyphicon glyphicon-sort"></i></a>
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <div ng-hide="isLoading" class="panel-body" >
                            <div ui-tree-nodes="" ng-model="col.Stories">
                                    <table class="table table-borderlesscards" data-empty-placeholder-enabled="true">
                                        <tbody>
                                            <tr ng-repeat="story in col.Stories | filter: search"
                                                
                                                ui-tree-node>
                                                <td style="background-color:#222222" ui-tree-handle>
                                                    <a><i class="centre block tree-handle glyphicon glyphicon-list"></i></a>
                                                </td>
                                                <td ng-click="UpdateButtonClick('lg', colIndex, $index)" style="text-align:left;" width="90%" ng-class="{'greenCard' :  story.RAG == 'Green', 'redCard': story.RAG == 'Red', 'amberCard': story.RAG == 'Amber',  'standardCard': story.RAG == ''}">
                                                    {{story.Name}}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>