@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @Html.ActionLink("New", "Board", null, null, new { id = 0, @class = "btn btn-default" })
    <input class="form-control text-box single-line" type="text" id="search" placeholder="Type to search">
</p>

<div ng-controller="menuCtrl">
    <table class="table table-bordered table table-responsive">

        <tr>
            <th>
                Name
            </th>
            <th>
                User
            </th>
            <th>
                Updated
            </th>
            <th>

            </th>
        </tr>


        <tr ng-repeat="board in Boards" ng-click="openBoard()">
            <td width="50%">
                {{board.Name}}
            </td>
            <td width="25%">
                {{board.User}}
            </td>
            <td width="25%">
                {{board.UpdateDate}}
            </td>
            <td>
                <input type="button" class="btn btn-xs btn-danger" value="Delete" ng-click="deleteBoard()" />
            </td>
        </tr>


    </table>
</div>