<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Adjustment Type</label>
        <md-select required ng:model="Parameter[0].Type" name="DateAdjustment_{{colIndex}}_{{rowIndex}}" id="DateAdjustment_{{colIndex}}_{{rowIndex}}" ng-disabled="viewOnly">
            <md-option value=""></md-option>
            <md-option value="Add">Add</md-option>
            <md-option value="Adjust">Adjust</md-option>
            <md-option value="Earlier">Earlier</md-option>
            <md-option value="Later">Later</md-option>
            <md-option value="Subtract">Subtract</md-option>
            <md-option value="DatesBetween">Dates Between Two Dates</md-option>
            <md-option value="Today">Today</md-option>
        </md-select>
        <div ng-messages="form['DateAdjustment_'+ colIndex + '_' + rowIndex].$error" ng-if="!showHints">
            <div ng-message="required">Type is required.</div>
        </div>
    </md-input-container>
</div>
<div ng-if="Parameter[0].Type != 'Today' ">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Start Date</label>
        <input ng-model="Parameter[0].Date1" uib-typeahead="state for state in DateNames | filter:$viewValue | limitTo:8" required>
    </md-input-container>
</div>
<div ng-if="Parameter[0].Type == 'Earlier' || Parameter[0].Type == 'Later' || Parameter[0].Type == 'DatesBetween'" class="form-group">
    <md-input-container class="md-block" flex-gt-sm>
        <label>End Date</label>
        <input ng-model="Parameter[0].Date2" uib-typeahead="state for state in DateNames | filter:$viewValue | limitTo:8" required>
    </md-input-container>
</div>
<fieldset ng-if="Parameter[0].Type == 'Add'|| Parameter[0].Type =='Subtract' ">
    <legend>Period Adjustment</legend>
    <div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Data Type</label>
            <md-select required ng:model="Parameter[0].PeriodType" name="DateAdjustment_{{colIndex}}_{{rowIndex}}" id="DateAdjustment_{{colIndex}}_{{rowIndex}}" ng-disabled="viewOnly">
                <md-option value=""></md-option>
                <md-option value="YearsDays">Years Days</md-option>
                <md-option value="YearsMonths">Years Months</md-option>
                <md-option value="Years">Years</md-option>
                <md-option value="Months">Months</md-option>
                <md-option value="Days">Days</md-option>
            </md-select>
            <div ng-messages="form['DateAdjustment_'+ colIndex + '_' + rowIndex].$error" ng-if="!showHints">
                <div ng-message="required">Type is required.</div>
            </div>
        </md-input-container>
    </div>
    <div class="form-group">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Period</label>
            <input ng-model="Parameter[0].Period" uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" required>
        </md-input-container>
    </div>
</fieldset>
<fieldset ng-if="Parameter[0].Type == 'Adjust' || Parameter[0].Type == 'DatesBetween'">
    <legend>Adjustment to be Made</legend>
    <div ng-if="Parameter[0].Type == 'Adjust'" class="form-group">

        <label for="inclusive" class="control-label col-md-2">Adjustment</label>
        <div class="col-sm-9">
            <md-select id="Adjustment" name="singleSelect" ng:model="period.Adjustment" class="form-control" ng-disabled="viewOnly" required>
                <md-option value="Less">Before</md-option>
                <md-option value="LessEqual">On or Before</md-option>
                <md-option value="Greater">After</md-option>
                <md-option value="GreaterEqual">On or After</md-option>
                <md-option value="Equal">Same Year</md-option>
            </md-select>
        </div>
    </div>
    <div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Select Day</label>
            <input ng-model="Parameter[0].Day" required>
        </md-input-container>
    </div>
    <div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Select Month</label>
            <input ng-model="Parameter[0].Month" required>
        </md-input-container>
    </div>
</fieldset>
