<body ng-controller="tableCtrl">
    <div>
        <div class="modal-header">
            <h4>{{TableName}}</h4>
        </div>
        <div class="modal-body">
            <my-table rows='parameters' rowstd='parametersrows'></my-table>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="cancel()">OK</button>
            <button type="button" class="btn btn-warning" ng-click="cancel()" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</body>