@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Leeds<br />
    West Yorkshire<br />
    <abbr title="Phone">P:</abbr>
    01234567899
</address>

<address>
    <strong>Sales:</strong>   <a href="mailto:Support@example.com">Sales@example.com</a><br />
    <strong>Development:</strong> <a href="mailto:Marketing@example.com">Development@example.com</a>
</address>