@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content">
    <h2>Web Calculation Tool</h2>
    <br />  
    <h4> Please click Log In or alternatively select a section of the site from the menu.</h4>
   </div>
<br />

