@{
    ViewBag.Title = "Home Page";
}

<div class="container body-content" style="text-align:center">
    <br />  
    <br />  
    <img src="~/Images/calcstepslogo.jpeg" style="width:25%; height:25%"/>
    <br />  
    <br />  
    <h4> CalcSteps is a free to use online application which provides the user with the functionality to create automated routines through a range of controlled steps.
        <br />
        <br />
        At CalcSteps we believe that the time, effort and cost of automating existing systems is too high and the best person to understand what functionality is needed is the user.
        <br />
        <br />
        How we get around this problem is a avoiding the need for specialist roles such as IT Coders, Systems Analysts and Software Testers.
        <br />
        <br />
        CalcStep is an application that allows a user to create their own functionality without any coding knowledge and gives the user the assurance what they produced works.
        <br />
        <br />
        Register to give us a try.
    </h4>
</div>
<br />

