@{
    ViewBag.Title = "Privacy";
}
<div class="container body-content" style="text-align:left">
    <h1>@ViewBag.Title</h1>
    <h3>@ViewBag.Message</h3>
    <h2>
        Data Protection Policy
    </h2>
    <p>
        <h3>
        Introduction
        </h3>
        CalcSteps needs to gather and use certain information about individuals.
        This policy describes how this personal data must be collected, handled and stored to meet the company’s data protection standards — and to comply with the law.
        <h3>
            Why this policy exists
        </h3>
        
        This data protection policy ensures CalcSteps:
        <ul>
            <li>Complies with data protection law and follow good practice</li>
            <li>Protects the rights of staff, customers and partners</li>
            <li>Is open about how it stores and processes individuals’ data</li>
            <li>Protects itself from the risks of a data breach</li>
        </ul>
        <h3>
            Data protection law
        </h3>
        The Data Protection Act 1998 describes how organisations — including CacSteps — must collect, handle and store personal information.
        These rules apply regardless of whether data is stored electronically, on paper or on other materials.
        <br />
        <br />
        To comply with the law, personal information must be collected and used fairly, stored safely and not disclosed unlawfully.
        The Data Protection Act is underpinned by eight important principles. These say that personal data must:
        <ol>
            <li>Be processed fairly and lawfully</li>
            <li>Be obtained only for specific, lawful purposes</li>
            <li>Be adequate, relevant and not excessive</li>
            <li>Be accurate and kept up to date</li>
            <li>Not be held for any longer than necessary</li>
            <li>Processed in accordance with the rights of data subjects</li>
            <li>Be protected in appropriate ways</li>
            <li>Not be transferred outside the European Economic Area (EEA), unless that country or territory also ensures an adequate level of protection</li>
        </ol>
        <h3>
            Policy scope
        </h3>
        This policy applies to:
        <ul>
            <li>All staff and volunteers of CalcSteps</li>
            <li>All contractors, suppliers and other people working on behalf of CalcSteps</li>
            <li>All staff and volunteers of CalcSteps</li>
        </ul>
        It applies to all data that the company holds relating to identifiable individuals, even if that information technically falls outside of the Data Protection Act 1998. This can include:
        <ul>
            <li>Names of individuals</li>
            <li>Email addresses</li>
            <li>…plus any other information relating to individuals</li>
        </ul>
        <h3>
            Data protection risks
        </h3>

        This policy helps to protect CalcSteps from some very real data security risks, including:
        <ul>
            <li>Breaches of confidentiality. For instance, information being given out inappropriately.</li>
            <li>Failing to offer choice. For instance, all individuals should be free to choose how the company uses data relating to them.</li>
            <li>Reputational damage. For instance, the company could suffer if hackers successfully gained access to sensitive data.</li>
        </ul>

        <h3>General staff guidelines</h3>

        <ul>
            <li>The only people able to access data covered by this policy should be those who need it for their work.</li>
            <li>Data should not be shared informally. </li>
            <li>In particular, strong passwords must be used and they should never be shared.</li>
            <li>Personal data should not be disclosed to unauthorised people, either within the company or externally.</li>
            <li>Data should be regularly reviewed and updated if it is found to be out of date. If no longer required, it should be deleted and disposed of.</li>
        </ul>

        <h3>Data storage</h3>
        These rules describe how and where data should be safely stored. Questions about storing data safely can be directed to the IT manager or data controller.
        When data is stored on paper, it should be kept in a secure place where unauthorised people cannot see it.
        These guidelines also apply to data that is usually stored electronically but has been printed out for some reason:
        <ul>
            <li>Data should be protected by strong passwords that are changed regularly and never shared between employees.</li>
            <li>Data should only be stored on designated drives and servers, and should only be uploaded to an approved cloud computing services.</li>
            <li>Servers containing personal data should be sited in a secure location, away from general office space.</li>
            <li>Data should be backed up frequently. Those backups should be tested regularly, in line with the company’s standard backup procedures.</li>
            <li>Data should never be saved directly to laptops or other mobile devices like tablets or smart phones.</li>
            <li>All servers and computers containing data should be protected by approved security software and a firewall.</li>
        </ul>
        <h3>Data use </h3>
        Personal data is of no value to CalcSteps unless the business can make use of it. However, it is when personal data is accessed and used that it can be at the greatest risk of loss, corruption or theft:
        <ul>
            <li>Personal data should not be shared informally. In particular, it should never be sent by email, as this form of communication is not secure.</li>
            <li>Personal data should never be transferred outside of the European Economic Area.</li>
        </ul>
        <h3>Data accuracy</h3>
        The law requires CalcSteps to take reasonable steps to ensure data is kept accurate and up to date.
        The more important it is that the personal data is accurate, the greater the effort CalcSteps should put into ensuring its accuracy.
        It is the responsibility of all employees who work with data to take reasonable steps to ensure it is kept as accurate and up to date as possible.
        <ul>
            <li>Data will be held in as few places as necessary</li>
            <li>CalcSteps will make it easy for data subjects to update the information CalcSteps holds about them. For instance, via the company website.</li>
            <li>Data should be updated as inaccuracies are discovered.</li>
        </ul>
        <h3>Subject access requests</h3>
        Subject access requests
        All individuals who are the subject of personal data held by [company name] are entitled to:
        <ul>
            <li>Ask what information the company holds about them and why.</li>
            <li>Ask how to gain access to it.</li>
            <li>Be informed how to keep it up to date.</li>
            <li>Be informed how the company is meeting its data protection obligations.</li>
        </ul>
        If an individual contacts the company requesting this information, this is called a subject access request.
        Subject access requests from individuals should be made by email, addressed to the data controller at XXXXX. The data controller can supply a standard request form, although individuals do not have to use this.
        The data controller will aim to provide the relevant data within 14 days.  The data controller will always verify the identity of anyone making a subject access request before handing over any information.

        <h3>Disclosing data for other reasons</h3>
        Disclosing data for other reasons
        In certain circumstances, the Data Protection Act allows personal data to be disclosed to law enforcement agencies without the consent of the data subject.
        Under these circumstances, CalcSteps will disclose requested data. However, the data controller will ensure the request is legitimate, seeking assistance from the board and from the company’s legal advisers where necessary.

        <h3>Providing information</h3>
        Providing information
        CalcSteps aims to ensure that individuals are aware that their data is being processed, and that they understand:
        <ul>
            <li>How the data is being used</li>
            <li>How to exercise their rights</li>
        </ul>
        To these ends, the company has a privacy statement, setting out how data relating to individuals is used by the company.
    </p>
    <h2>
        Privacy Policy
    </h2>
    <p>
        <h3>Key details</h3>
        This website privacy policy describes how [company name] protects and makes use of the information you give the company when you use this website.

        If you are asked to provide information when using this website, it will only be used in the ways described in this privacy policy.

        This policy is updated from time to time. The latest version is published on this page.

        This website privacy policy was updated on:	05/09/2017
        <h3>Introduction</h3>
        Introduction
        We gather and use certain information about individuals in order to provide products and services and to enable certain functions on this website.
        We also collect information to better understand how visitors use this website and to present timely, relevant information to them.
        What data we gather
        We may collect the following information:
        <ul>
            <li>Name</li>
            <li>Contact information including email address </li>
            <li>Website usage data</li>
        </ul>
        <h3>How we use this data</h3>

        Collecting this data helps us understand what you are looking from the company, enabling us to deliver improved products and services.
        <ul>
            <li>For our own internal records.</li>
            <li>To improve the products and services we provide.</li>
            <li>To contact you in response to a specific enquiry.</li>
            <li>To customise the website for you.</li>
        </ul>

        <h3>Cookies and how we use them</h3>Cookies and how we use them
        <b>What is a cookie?</b> 
        A cookie is a small file placed on your computer's hard drive. It enables our website to identify your computer as you view different pages on our website.
        Cookies allow websites and applications to store your preferences in order to present content, options or functions that are specific to you. They also enable us to see information like how many people use the website and what pages they tend to visit.
        <b>How we use cookies</b>
        We may use cookies to:
        <ul>
            <li>Analyse our web traffic using an analytics package. Aggregated usage data helps us improve the website structure, design, content and functions.</li>
            <li>Identify whether you are signed in to our website. A cookie allows us to check whether you are signed in to the site.</li>
            <li>Test content on our website. For example, 50% of our users might see one piece of content, the other 50% a different piece of content.</li>
            <li>Store information about your preferences. The website can then present you with information you will find more relevant and interesting.</li>
            <li>To recognise when you return to our website. We may show your relevant content, or provide functionality you used previously.</li>
        </ul>
        Cookies do not provide us with access to your computer or any information about you, other than that which you choose to share with us.

        <b>Controlling cookies</b> 
        You can use your web browser’s cookie settings to determine how our website uses cookies. If you do not want our website to store cookies on your computer or device, you should set your web browser to refuse cookies.
        However, please note that doing this may affect how our website functions. Some pages and services may become unavailable to you.
        Unless you have changed your browser to refuse cookies, our website will issue cookies when you visit it.
        To learn more about cookies and how they are used, visit All About Cookies.
        
        <h3>Controlling information about you</h3>
        We will never lease, distribute or sell your personal information to third parties unless we have your permission or the law requires us to.
        Any personal information we hold about you is stored and processed under our data protection policy, in line with the Data Protection Act 1998.
        <h3>Security</h3>
        We will always hold your information securely.
        To prevent unauthorised disclosure or access to your information, we have implemented strong physical and electronic security safeguards.
        We also follow stringent procedures to ensure we work with all personal data in line with the Data Protection Act 1998.
        <h3>Links from our site</h3>Links from our site
        Our website may contain links to other websites.
        Please note that we have no control of websites outside the CalcSteps domain. If you provide information to a website to which we link, we are not responsible for its protection and privacy.
        Always be wary when submitting data to websites. Read the site’s data protection and privacy policies fully.
    </p>

</div>
