@model CalculationCSharp.Models.Calculation.RegressionViewModel

    <br />
         <div class="modal-header">

        </div>

        <div class="modal-body">

         @Html.TextAreaFor(model => Model.YourString, new {@class = "form-control", style = "width: 100%; max-width: 100%; height: 500px; " })
        </div>
        
        <div class="modal-footer">
            @*<button type="submit" id="btnSave" class="btn btn-default">Save</button>*@
            @*<button type="button" id="myBtn" class="btn btn-primary close" data-dissmiss="modal">Cancel</button>*@
        </div>
        

