<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Table Name</label>
        <input ng-model="rows.Parameter[0].TableName" name="FactorsTableName_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" 
               id="FactorsTableName_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" required>
        <div ng-messages="form['FactorsTableName_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Table Name is required</div>
        </div>
    </md-input-container>
</div>
<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Lookup Type</label>
        <md-select ng:model="rows.Parameter[0].LookupType" name="FactorsLookupType_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" 
                   id="FactorsLookupType_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" aria-label="Type" ng-disabled="viewOnly" required>
            <md-option value="Date">Date</md-option>
            <md-option value="Decimal">Decimal</md-option>
            <md-option value="String">String</md-option>
        </md-select>
        <div ng-messages="form['FactorsLookupType_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Lookup Type is required</div>
        </div>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].LookupType == 'Date'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Lookup Value</label>
        <input variablecheck inputtype="Date" config='[config]' colIndex="{{$parent.$parent.$parent.$parent.$index}}" rowIndex="{{$parent.$parent.$parent.$index}}"
               ng-model="rows.Parameter[0].LookupValue" name="FactorsLookupValue_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               id="FactorsLookupValue_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               uib-typeahead="state for state in DateNames | filter:$viewValue | limitTo:8" required>
        <div ng-messages="form['FactorsLookupValue_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Date is required</div>
            <div ng-message="input">Variable Mismatch</div>
        </div>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].LookupType == 'Decimal'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Lookup Value</label>
        <input variablecheck inputtype="Decimal" config='[config]' colIndex="{{$parent.$parent.$parent.$parent.$index}}" rowIndex="{{$parent.$parent.$parent.$index}}" ng-model="rows.Parameter[0].LookupValue" 
               name="FactorsLookupValue_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               id="FactorsLookupValue_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" required>
        <div ng-messages="form['FactorsLookupValue_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Decimal is required</div>
            <div ng-message="input">Variable Mismatch</div>
        </div>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].LookupType == 'String'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Lookup Value</label>
        <input variablecheck inputtype="String" config='[config]' colIndex="{{$parent.$parent.$parent.$parent.$index}}" rowIndex="{{$parent.$parent.$parent.$index}}" ng-model="rows.Parameter[0].LookupValue" 
               name="FactorsLookupValue_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               id="FactorsLookupValue_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}"  
               uib-typeahead="state for state in StringNames | filter:$viewValue | limitTo:8" required>
        <div ng-messages="form['FactorsLookupValue_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">String is required</div>
            <div ng-message="input">Variable Mismatch</div>
        </div>
    </md-input-container>
</div>
<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Output Type</label>
        <md-select ng:model="rows.Parameter[0].OutputType" name="FactorsOutputType_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" 
                   id="FactorsOutputType_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" aria-label="OutputType" ng-disabled="viewOnly" required>
            <md-option value="Date">Date</md-option>
            <md-option value="Decimal">Decimal</md-option>
            <md-option value="String">String</md-option>
        </md-select>
        <div ng-messages="form['FactorsOutputType_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Output Type is required</div>
        </div>
    </md-input-container>
</div>
<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Row Match Required?</label>
        <md-select  ng:model="rows.Parameter[0].RowMatch" name="FactorsRowMatch_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" 
                   id="FactorsRowMatch_{{$parent.$parent.$parent.$index}}_{{$parent.$parent.$index}}" aria-label="RowMatch" ng-disabled="viewOnly" required>
            <md-option value="True">True</md-option>
            <md-option value="False">False</md-option>
        </md-select>
        <div ng-messages="form['FactorsRowMatch_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Required Field</div>
        </div>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].RowMatch == 'True'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Row Match Row Number</label>
        <input ng-model="rows.Parameter[0].RowMatchRowNo" name="FactorsRowMatchRowNo_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               id="FactorsRowMatchRowNo_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" required>
        <div ng-messages="form['FactorsRowMatchRowNo_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Required Field</div>
        </div>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].RowMatch == 'True'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Row Match Lookup Type</label>
        <md-select ng:model="rows.Parameter[0].RowMatchLookupType" name="FactorsRowMatchRowLookupType_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
                   id="FactorsRowMatchRowLookupType_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" aria-label="RowMatchType" ng-disabled="viewOnly" required>
            <md-option value="Date">Date</md-option>
            <md-option value="Decimal">Decimal</md-option>
            <md-option value="String">String</md-option>
        </md-select>
        <div ng-messages="form['FactorsRowMatchRowLookupType_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Required Field</div>
        </div>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].RowMatch == 'True' && rows.Parameter[0].RowMatchLookupType == 'Date'">
        <md-input-container class="md-block" flex-gt-sm>
        <label>Row Match Value</label>
        <input variablecheck inputtype="Date" config='[config]' colIndex="{{$parent.$parent.$parent.$index}}" rowIndex="{{$parent.$parent.$index}}" 
               ng-model="rows.Parameter[0].RowMatchValue" name="FactorsRowMatchValue_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               id="FactorsRowMatchValue_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               uib-typeahead="state for state in DateNames | filter:$viewValue | limitTo:8" required>
        <div ng-messages="form['FactorsRowMatchValue_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Date is required</div>
            <div ng-message="input">Variable Mismatch</div>
        </div>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].RowMatch == 'True' && rows.Parameter[0].RowMatchLookupType == 'Decimal'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Row Match Value</label>
        <input variablecheck inputtype="Decimal" config='[config]' colIndex="{{$parent.$parent.$parent.$index}}" rowIndex="{{$parent.$parent.$index}}"  ng-model="rows.Parameter[0].RowMatchValue" 
               name="FactorsRowMatchValue_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               id="FactorsRowMatchValue_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" required>
        <div ng-messages="form['FactorsRowMatchValue_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Decimal is required</div>
            <div ng-message="input">Variable Mismatch</div>
        </div>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].RowMatch == 'True' && rows.Parameter[0].RowMatchLookupType == 'String'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Row Match Value</label>
        <input variablecheck inputtype="String" config='[config]' colIndex="{{$parent.$parent.$parent.$index}}" rowIndex="{{$parent.$parent.$index}}" ng-model="rows.Parameter[0].RowMatchValue" 
               name="FactorsRowMatchValue_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               id="FactorsRowMatchValue_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               uib-typeahead="state for state in StringNames | filter:$viewValue | limitTo:8" required>
        <div ng-messages="form['FactorsRowMatchValue_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">String is required</div>
            <div ng-message="input">Variable Mismatch</div>
        </div>
    </md-input-container>
</div>
<div ng-if="rows.Parameter[0].RowMatch == 'False'" class="form-group">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Column Number</label>
        <input ng-model="rows.Parameter[0].ColumnNo" name="FactorsColumnNo_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               id="FactorsColumnNo_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" required>
        <div ng-messages="form['FactorsColumnNo_'+ $parent.$parent.$parent.$index + '_' + $parent.$parent.$index].$error">
            <div ng-message="required">Required Field</div>
        </div>
    </md-input-container>
</div>
<div ng-if ="rows.Parameter[0].LookupType == 'Decimal'" class="form-group">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Interpolate Years and Months</label>
        <input ng-model="rows.Parameter[0].Interpolate" name="FactorsInterpolate_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}" 
               id="FactorsInterpolate_{{$parent.$parent.$parent.$parent.$index}}_{{$parent.$parent.$parent.$index}}">
    </md-input-container>
</div>
