<div layout="row" ng-repeat="val in rows.Parameter">
    <md-input-container>
        <label>Column Name</label>
        <input colIndex="{{$parent.$parent.$index}}" rowIndex="{{$parent.$index}}" ng-model="val.ColumnName" ng-pattern="noSpacesPattern" name="TableColumn_{{$parent.$parent.$index}}_{{$parent.$index}}"
               id="TableColumn_{{$parent.$parent.$index}}_{{$parent.$index}}" required>
    </md-input-container>
    <md-input-container>
        <label>Variable</label>
        <input colIndex="{{$parent.$parent.$index}}" rowIndex="{{$parent.$index}}"  ng-model="val.Variable" ng-pattern="noSpacesPattern" name="TableVariable_{{$parent.$parent.$index}}_{{$parent.$index}}"
               id="TableVariable_{{$parent.$parent.$index}}_{{$parent.$index}}" uib-typeahead="state for state in AllNames | filter:$viewValue | limitTo:8" required>
    </md-input-container>
</div>
<md-content class="md-no-momentum" layout-margin="">
    <md-button ng-click="addReturnItem($index)" class="md-accent">
        Click to Add New Row
    </md-button>
</md-content>
<md-content class="md-no-momentum" layout-margin="">
    <md-button ng-click="removeMathsItem()" class="md-accent">
        Click to Remove Last Row
    </md-button>
</md-content>
