<div layout="row" ng-repeat="val in rows.Parameter">
    <md-input-container>
        <label>Column</label>
        <input colIndex="{{$parent.$parent.$index}}" rowIndex="{{$parent.$index}}"  ng-model="val.Column" ng-pattern="noSpacesPattern" name="Column_{{$parent.$parent.$index}}_{{$parent.$index}}"
               id="Column_{{$parent.$parent.$index}}_{{$parent.$index}}" required>
    </md-input-container>
</div>
<md-content class="md-no-momentum" layout-margin="">
    <md-button ng-click="addReturnItem($index)" class="md-accent">
        Click to Add New Row
    </md-button>
</md-content>
<md-content class="md-no-momentum" layout-margin="">
    <md-button ng-click="removeMathsItem()" class="md-accent">
        Click to Remove Last Row
    </md-button>
</md-content>
