
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h3>Maintenance</h3>
    <br />
    @Html.ActionLink("Factor Maintenance", "Index", new { Area = "Maintenance", controller = "FactorMaintenance" })   
    <br />
    <br />
    @if (ViewBag.Authenticated == true)
    {
        @Html.ActionLink("Scheme Maintenance", "Index", new { Area = "Maintenance", controller = "SchemesMaintenance" })
    }
    <br />
    <br />
    @if (ViewBag.Authenticated == true)
    {
        @Html.ActionLink("User Role Maintenance", "Index", new { Area = "Maintenance", controller = "UserRoleMaintenance" })
    }

</div>
