
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h3>Maintenance</h3>

    <br />

    @Html.ActionLink(" Factor Maintenance", "Index", new { Area = "Maintenance", controller = "FactorMaintenance" })   
     
</div>
