<body ng-controller="historyCtrl">
    <div class="modal-header">
        <h3 class="modal-title">History</h3>
    </div>
    <div class="modal-body">
        <table class="table table-bordered table table-responsive">
            <tr>
                <th>
                    User
                </th>
                <th>
                    Updated
                </th>
                <!--<th>
                    Comment
                </th>-->
                <th>
                    Version
                </th>
                <th>
                </th>
            </tr>
            <tr ng-repeat="board in Boards">
                <td width="45%" ng-cloak>{{board.User}}</td>
                <td width="45%" ng-cloak>{{board.UpdateDate | date:'d MMMM yyyy h:mm a'}}</td>
                <!--<td width="25%" ng-cloak>{{board.Comment}}</td>-->
                <td width="5%" ng-cloak>{{board.Version}}</td>
                <td width="10%">
                    <!--<button class="btn btn-default" ng-hide="editingData[board.ID]" ng-click="modify(board)">Compare</button>-->
                    <button class="btn btn-default" ng-hide="editingData[board.ID]" ng-click="revert(board)">Revert</button>
                </td>
            </tr>
        </table>
    </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Close</button>
        </div>
</body>
