<body>
    <div ng-controller="boardCtrl">
        <script type="text/ng-template" id="/AppScript/updateModal.html">
            <div class="modal-header">
                <textarea overflow:auto;resize:none" type="text" id="Name" placeholder="Please enter name of item here" class="form-control" ng-model="Name" rows="1">{{ Name }}</textarea>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <textarea style="overflow:auto;resize:none" type="text" id="Description" placeholder="Please enter description here" class="form-control" ng-model="Description" rows="5"> {{ Description }}</textarea>
                </div>
                <div class="form-horizontal">
                    <select name="singleSelect" ng-model="Moscow" placeholder="Enter M.o.S.C.o.W rating" class="form-control">
                        <option value="Must">Must</option>
                        <option value="Should">Should</option>
                        <option value="Could">Could</option>
                        <option value="Won't">Won't</option>
                        {{Moscow}}
                    </select>
                </div>
                <div class="form-horizontal">
                    <select name="singleSelect" ng-model="User" placeholder="Select User" class="form-control">
                        <option value="Jayson Herbert">Jayson Herbert</option>
                        <option value="John Smith">John Smith</option>
                        {{User}}
                    </select>
                </div>
                <br />

                <h1>Tasks</h1>
                <br />

                <form editable-form name="tableform">
                    <!-- table -->
                    <table class="table table-bordered table-hover table-condensed">
                        <tr style="font-weight: bold">
                            <td style="width:70%">Task</td>
                            <td style="width:30%">User</td>
                            <td style="width:8%">Remaining Time</td>
                            <td style="width:20%">Status</td>
                        </tr>


                        <tr ng-repeat="Task in selected.Tasks">

                            <td><input type="text" ng:model="Task.TaskName" class="form-control"></td>
                            <td><input type="text" ng:model="Task.TaskUser" ng:required class="form-control"></td>
                            <td><input type="number" ng:model="Task.RemainingTime" class="form-control"></td>
                            <td><input type="text" ng:model="Task.Status" ng:required class="form-control"></td>
                            <td>
                                [<a ng:click="removeItem($index)">X</a>]
                            </td>
                        </tr>
                        <tr>
                            <td><a  ng:click="addItem()" class="btn btn-default">Add</a></td>
                        </tr>

                    </table>
                </form>
           </div>
                    <div class="modal-footer">
                        <input class="btn btn-default" type="button" value="Delete" ng-click="DeleteButtonClick()" />
                        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                    </div>
        </script>
    </div>
</body>
