<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Type</label>
        <md-select required ng:model="Parameter[0].Type" name="MathsFunctions_{{colIndex}}_{{rowIndex}}" id="DateAdjustment_{{colIndex}}_{{rowIndex}}" ng-disabled="viewOnly">
            <md-option value=""></md-option>
            <md-option value="Abs">Abs</md-option>
            <md-option value="Add">Add</md-option>
            <md-option value="AddPeriod">Add Period</md-option>
            <md-option value="Ceiling">Ceiling</md-option>
            <md-option value="DecimalPart">DecimalPart</md-option>
            <md-option value="Divide">Divide</md-option>
            <md-option value="Floor">Floor</md-option>
            <md-option value="Max">Max</md-option>
            <md-option value="Min">Min</md-option>
            <md-option value="Multiply">Multiply</md-option>
            <md-option value="Power">Power</md-option>
            <md-option value="Subtract">Subtract</md-option>
            <md-option value="SumDecimalAbove">Sum Decimal Rows Above Current Row in Group</md-option>
            <!--<md-option value="SubtractPeriod">Subtract Period</option>-->
            <md-option value="Truncate">Truncate</md-option>
        </md-select>
        <div ng-messages="form['DateAdjustment_'+ colIndex + '_' + rowIndex].$error" ng-if="!showHints">
            <div ng-message="required">Type is required.</div>
        </div>
    </md-input-container>
</div>
<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Number 1</label>
        <input ng-model="Parameter[0].Number1" uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" required>
    </md-input-container>
</div>
<div ng-if="Parameter[0].Type == 'Add'|| Parameter[0].Type == 'AddPeriod'|| Parameter[0].Type == 'Divide'|| Parameter[0].Type == 'Max' || Parameter[0].Type == 'Min' || Parameter[0].Type == 'Multiply'|| Parameter[0].Type == 'Power'|| Parameter[0].Type == 'Subtract' || Parameter[0].Type == 'SubtractPeriod'">     
    <md-input-container class="md-block" flex-gt-sm>
        <label>Number 2</label>
        <input ng-model="Parameter[0].Number2" uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" required>
    </md-input-container>
</div>
<div ng-if="Parameter[0].Type == 'AddPeriod'|| Parameter[0].Type == 'SubtractPeriod'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Period Type</label>
        <md-select required ng:model="Parameter[0].PeriodType" name="DateAdjustment_{{colIndex}}_{{rowIndex}}" id="DateAdjustment_{{colIndex}}_{{rowIndex}}" ng-disabled="viewOnly">
            <md-option value=""></md-option>
            <md-option value="YearsDays">Years Days</md-option>
            <md-option value="YearsMonths">Years Months</md-option>
        </md-select>
    </md-input-container>
</div>
<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Rounding</label>
        <md-select ng:model="Parameter[0].Rounding" ng-disabled="viewOnly">
            <md-option value=""></md-option>
            <md-option value="0">0</md-option>
            <md-option value="1">1</md-option>
            <md-option value="2">2</md-option>
            <md-option value="3">3</md-option>
            <md-option value="4">4</md-option>
            <md-option value="5">5</md-option>
            <md-option value="6">6</md-option>
        </md-select>
    </md-input-container>
</div>
<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Rounding Type</label>
        <md-select ng:model="Parameter[0].RoundingType" ng-disabled="viewOnly">
            <md-option value=""></md-option>
            <md-option value="up">Up</md-option>
            <md-option value="down">Down</md-option>
        </md-select>
    </md-input-container>
</div>
