<body ng-controller="datePartCtrl">
    <div>
        <div class="modal-header">
            <h4>Maths Functions</h4>
        </div>
        <div class="modal-body">

            <form class="form-horizontal" role="form" ng-submit="ok($index)">

                <div class="form-group">
                    <label for="Type" class="control-label col-md-2">Type</label>
                    <div class="col-sm-9">
                        <select id="inclusive" name="singleSelect" ng:model="period.Type" class="form-control">
                            <option value=""></option>
                            <option value="Abs">Abs</option>
                            <option value="Add">Add</option>
                            <option value="Ceiling">Ceiling</option>
                            <option value="Divide">Divide</option>
                            <option value="Floor">Floor</option>
                            <option value="Max">Max</option>
                            <option value="Min">Min</option>
                            <option value="Multiply">Multiply</option>
                            <option value="Power">Power</option>
                            <option value="Subtract">Subtract</option>
                            <option value="Truncate">Truncate</option> 
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Number1" class="control-label col-md-2">Number 1</label>
                    <div class="col-sm-9">
                        <input type="Text" id="Number1" name="Number1" class="form-control" ng-model="period.Number1" uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" required />
                    </div>
                </div>

                <div ng-if="period.Type == 'Add'|| period.Type == 'Divide'|| period.Type == 'Max' || period.Type == 'Min' || period.Type == 'Multiply'|| period.Type == 'Power'|| period.Type == 'Subtract'" class="form-group">
                    <label for="Number2" class="control-label col-md-2">Number 2</label>
                    <div class="col-sm-9">
                        <input type="Text" id="Number2" name="Number2" class="form-control" ng-model="period.Number2" uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" required />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Type" class="control-label col-md-2">Rounding</label>
                    <div class="col-sm-9">
                        <select id="inclusive" name="singleSelect" ng:model="period.Rounding" class="form-control">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Type" class="control-label col-md-2">Rounding Type</label>
                    <div class="col-sm-9">
                        <select id="inclusive" name="singleSelect" ng:model="period.RoundingType" class="form-control">
                            <option value=""></option>
                            <option value="up">Up</option>
                            <option value="down">Down</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </form>
    </div>

    </div>

</body>
