<br />
<div class="modal-header">

</div>

<div class="modal-body">
    <input name="Function" type="text" class="form-control" placeholder="Parameter 1" />
    <br />
    <input name="Function" type="text" class="form-control" placeholder="Parameter 2" />
</div>

<div class="modal-footer">
    <button type="submit" id="btnSave" class="btn btn-default">Save</button>
    @*<button type="button" id="myBtn" class="btn btn-primary close" data-dissmiss="modal">Cancel</button>*@
</div>