<body ng-controller="ReturnCtrl">
    <div>
        <div class="modal-header">
            <h4>Return</h4>
        </div>
        <div class="modal-body">

            <form class="form-horizontal" role="form" ng-submit="ok($index)">
                <fieldset ng-disabled="$parent.viewOnly">
                    
                    <div class="form-group">
                        <label for="Number2" class="control-label col-md-2">Data Type</label>
                        <div class="col-sm-9">
                            <select ng:model="return.Datatype" class="form-control  input-sm" ng-required="true">
                                <option value=""></option>
                                <option value="String">String</option>
                                <option value="Date">Date</option>
                                <option value="Decimal">Decimal</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" ng-if="return.Datatype == 'Date'">
                        <label for="LookupValue" class="control-label col-md-2">Variable to Return</label>
                        <div class="col-sm-9">
                            <input type="Text" id="LookupValue" name="LookupValue" class="form-control" ng-model="return.Variable" uib-typeahead="state for state in DateNames | filter:$viewValue | limitTo:8" required />
                        </div>
                    </div>
                    <div class="form-group" ng-if="return.Datatype == 'Decimal'">
                        <label for="LookupValue" class="control-label col-md-2">Lookup Value</label>
                        <div class="col-sm-9">
                            <input type="Text" id="LookupValue" name="LookupValue" class="form-control" ng-model="return.Variable" uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" required />
                        </div>
                    </div>
                    <div class="form-group" ng-if="return.Datatype == 'String'">
                        <label for="LookupValue" class="control-label col-md-2">Lookup Value</label>
                        <div class="col-sm-9">
                            <input type="Text" id="LookupValue" name="LookupValue" class="form-control" ng-model="return.Variable" uib-typeahead="state for state in StringNames | filter:$viewValue | limitTo:8" required />
                        </div>
                    </div>

                </fieldset>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </form>
        </div>

    </div>

</body>