<div>
    <md-input-container class="md-block" flex-gt-sm>
        <label>Data Type</label>
        <md-select required ng:model="Parameter[0].Datatype" name="Return_{{colIndex}}_{{rowIndex}}" id="Return_{{colIndex}}_{{rowIndex}}">
            <md-option value=""></md-option>
            <md-option value="String">String</md-option>
            <md-option value="Date">Date</md-option>
            <md-option value="Decimal">Decimal</md-option>
        </md-select>
        <div ng-messages="form['Return_'+ colIndex + '_' + rowIndex].$error" ng-if="!showHints">
            <div ng-message="required">Type is required.</div>
        </div>
    </md-input-container>
</div>
<div ng-if="Parameter[0].Datatype == 'Date'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Variable to Return</label>
        <input ng-model="Parameter[0].Variable" uib-typeahead="state for state in DateNames | filter:$viewValue | limitTo:8">
    </md-input-container>
</div>
<div ng-if="Parameter[0].Datatype == 'Decimal'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Variable to Return</label>
        <input ng-model="Parameter[0].Variable" uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8">
    </md-input-container>
</div>
<div ng-if="Parameter[0].Datatype == 'String'">
    <md-input-container class="md-block" flex-gt-sm>
        <label>Variable to Return</label>
        <input ng-model="Parameter[0].Variable" uib-typeahead="state for state in StringNames | filter:$viewValue | limitTo:8">
    </md-input-container>
</div>
