<body ng-controller="regressionCtrl">
    <div class="modal-header">
        <h3 class="modal-title">Regression</h3>
    </div>
    <div class="modal-body">
        <div class="center-block" ng-include="'/Areas/Project/Scripts/busyModal.html'" ng-show="isLoading"></div>
        <table class="table table-bordered table table-responsive">
            <tr>
                <th>
                    Reference
                </th>
                <th>
                    Input
                </th>
                <th>
                    Comment
                </th>
                <th>
                    Old
                </th>
                <th>
                    New
                </th>
                <th>
                    Pass/Fail
                </th>
                <th>
                    Differences
                </th>
                <th ng-hide="showregressbuttons">

                </th>
                <th>


                </th>
            </tr>
            <tr ng-hide="isLoading" ng-repeat="Regress in Regression" ng-class="{'selected':$index == selectedRow}" ng-click="setclickedrow($index)">
                <td width="25%" ng-cloak> <span><input type="text" ng:model="Regress.Reference" class="form-control"></span></td>
                <td ng-click="FunctionButtonClick('lg', $index)">
                    <span  ng-if="Regress.Difference == null" class="glyphicon glyphicon-cog"></span>
                </td>
                <td width="25%" ng-cloak> <span><input type="text" ng:model="Regress.Comment" class="form-control"></span></td>
                <td><button ng-if="Regress.OutputOld != null" type="button" class="btn btn-default" ng-click="OutputButtonClick('lg', $index, 'O')" data-dismiss="modal">Old</button></td>
                <td><button ng-if="Regress.OutputNew != null && Regress.OutputNew != 'null'" type="button" class="btn btn-default" ng-click="OutputButtonClick('lg', $index, 'N')" data-dismiss="modal">New</button></td>
                <td ng-if="Regress.OutputOld == null"> </td> 
                <td ng-if="Regress.OutputOld != null" width="10%" ng-class="{'green' : Regress.Difference == null, 'red': Regress.Difference != null}"><span></span></td>
                <td><button ng-if="Regress.Difference != null" type="button" class="btn btn-default" ng-click="DifferencesButtonClick('lg', $index)" data-dismiss="modal">Differences</button></td>
                <td ng-hide="showregressbuttons" width="5%">
                    [<a ng:click="removeRegressionItem($index)">X</a>]
                </td>
                <td width="5%">
                    <span class="glyphicon glyphicon-transfer" ng-click="pushInputsToBuilder(Regress.Input)"> </span>
                </td> 
            </tr>
        </table>


    </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-show="showregressbuttons" ng-click="AcceptButtonClick()" data-dismiss="modal">Accept All</button>
            <button type="button" class="btn btn-default" ng-show="showregressbuttons" ng-click="RejectButtonClick()" data-dismiss="modal">Reject All</button>
            <button type="button" class="btn btn-default" ng-hide="showregressbuttons" ng-click="RunAllButtonClick()" data-dismiss="modal">Run All</button>
            <button type="button" class="btn btn-default" ng-hide="showregressbuttons" ng-click="Add($index)" data-dismiss="modal">Add</button>
            <button type="button" ng-csv="BulkOutputBuilder()" class="btn btn-default" filename="Regression Output.csv">Export</button>
            <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Close</button>
        </div>
</body>
