<body ng-controller="regressionOutputCtrl">
    <div class="modal-header">
        <h3 class="modal-title">Regression Output</h3>
        <ul class="nav navbar-nav center-block">
            <li></li>
            <li><button class="btn btn-default navbar-btn" type="button" ng-click="OpenAllButton()"> Open All </button></li>
            <li><button class="btn btn-default navbar-btn" type="button" ng-click="CloseAllButton()"> Close All </button></li>
        </ul>

        <div class="nav navbar-nav pull-right">
            <div class="navbar-text">Search</div>
            <div class="input-group">
                <input type="text" class="form-control form-inline input" ng-model="test" placeholder="Filter">
            </div>
        </div>
    </div>
    <div class="modal-body">

        <uib-accordion close-others=false>
                <div class="container-fluid">
                    <uib-accordion close-others=false ng-model="output">
                        <uib-accordion-group ng-repeat="group in output" ng-init="colIndex = $index" is-open="openIndexRegression[$index]">
                            <uib-accordion-heading>
                                {{group.Group}} 
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openIndexRegression[$index], 'glyphicon-chevron-right': !openIndexRegression[$index]}"></i>
                            </uib-accordion-heading>
                            <br />
                            <table id="table" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th width="50%">
                                            Field
                                        </th>
                                        <th width="50%">
                                            Value
                                        </th>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in group.Output | filter : test" ng-class="{'redrow': row.Field.indexOf('Comment') > -1}">
                                        <td>
                                            {{row.Field}}
                                        </td>
                                        <td>
                                            {{row.Value}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
        </uib-accordion>
    </div>
    <div class="modal-footer">

    </div>
</body>
