<md-list flex="" ng-model="Category.Functions"  ui-tree-nodes="">
    <md-list-item class="md-dense" ng-repeat="rows in Category.Functions" ng-click="selectRow($event, $index, $parent.$index)"  ng-show="([rows.Name] | filter: test).length || ([rows.Parameters.Name] | filter: test).length"
                  ng-class="{selected: isRowSelected($index, $parent.$index), 'redrow': rows.Function == 'Comments', 'standardRow' : rows.Function != 'Comments', 'stripped' : rows.Pass == 'miss' }"
                  style="border-radius:5px; border-style:solid; border-width:thin; border-color:lightgray; margin-bottom:2px;" context-menu="rowMenuOptions"  
                  ng-keydown="keyDownFunc($event, $parent.$index, $index, rows.Name)"   ui-tree-node>
            <div id="functionrowWrapper">
            <div class="slide-container text-center" style="width:2%">
                <a class="center-block" ng-if="Category.Name != 'Input'">   
                    <md-icon ng-hide="viewOnly"class="glyphicon glyphicon" ui-tree-handle md-svg-src="/Images/movelist.svg"> </md-icon>                
                </a>               
            </div>
            <div class="slide-container text-center" style="width:2%">
                <a class="center-block" ng-if="isRowSelected($index, $parent.$index)" ng-click="AddFunctionRows($parent.$parent.$index, $parent.$index, $event)">
                    <md-icon ng-hide="viewOnly" class="glyphicon glyphicon" md-svg-src="/Images/add.svg"> </md-icon>
                </a>
            </div>
            <div class="v-separator"><h4></h4></div>
            <div class="slide-container" style="width:15%">
                <h6 class="small">Function: &nbsp;</h6>
                {{ rows.Function }}
            </div>
            <div class="v-separator"><h4></h4></div>
            <div class="slide-container" style="width:8%">
                <h6 class="small">Type: &nbsp;</h6>
                {{ rows.Type }}
            </div>

            <div class="v-separator"><h4></h4></div>
                <div class="slide-container" style="width:19%">
                    <h6 class="small">Name: &nbsp;</h6>
                    {{ rows.Name }}
                </div>
            <div class="v-separator"><h4></h4></div>
            <div class="slide-container" style="width:40%">
                <h6 class="small">Output: &nbsp;</h6>
                {{ rows.Output | limitTo: 50}} {{rows.Output.length > 50 ? '...' : ''}}
            </div>
            <div class="v-separator"><h1></h1></div>
            <div class="slide-container" style="width:2%; text-align:center">
                <md-icon ng-if="rows.Pass == 'true'" md-svg-src="/Images/checked.svg"> </md-icon>
                <md-icon ng-if="rows.Pass == 'false'" md-svg-src="/Images/multiply.svg"> </md-icon>
                <a ng-show="rows.SubOutput != null " data-nodrag ng-click="SubOutputButtonClick('lg', $parent.$index, $index, rows.SubOutput)">
                    <i ng-hide="viewOnly" class="glyphicon glyphicon-search"></i>
                </a>
            </div>
        </div>
    </md-list-item>   
</md-list>

