<md-content ng-controller="configCtrl" layout-gt-sm="row" layout="row" ng-cloak> 
    <form name="form" role="form" ng-submit="calcbuttonclick(form)" layout="row" style="width:100%">
        <md-content flex="70" layout-padding="0%" layout="column" style="padding:0px; border-right: thin solid; border-right-color: #e8e1d6">      
            <md-input-container style="padding:0px" class="md-block" flex-gt-sm>
                <label>Search</label>
                <input type="text" ng-model="test">
            </md-input-container>
            <md-list class="md-dense" ng-cloak>
                <md-list-item ng-repeat="(key, errors) in form.$error track by $index" class="md-1-line" >
                    <md-list class="md-dense" ng-cloak>
                        <md-list-item ng-repeat="e in errors" class="md-1-line" ng-click="focusButtonClick($event, e.$name)">
                            <p>{{ e.$name }} has an error</p>
                        </md-list-item>
                    </md-list>
                </md-list-item>
            </md-list>
                   <div ui-tree="treeOptions" ng-controller="configBuilderColumnCtrl">
                    <div class="center-block" ng-include="'/Areas/Project/Scripts/busyModal.html'" ng-show="isLoading"></div>
                       <table class="table table-condensed table-bordered table-sm" ui-tree-nodes="" ng-model="config">
                           <thead>
                               <tr>
                                   <th style="width:2%; background-color: #3d688c; color: white;"></th>
                                   <th style="width:80%;background-color: #3d688c; color: white;">Group</th>
                                   <th style="width:2%;background-color: #3d688c; color: white;"></th>
                                   <th style="width:2%;background-color: #3d688c; color: white;"></th>
                               </tr>
                           </thead>
                           <tbody ng-repeat="Category in config">
                               <tr context-menu="columnMenuOptions" ng-show="([rows.Name] | filter: test).length || ([rows.Parameters.Name] | filter: test).length"
                                   ng-click="selectGroup($event, 0, $index)" ng-class="{selected: isRowSelected($index, $parent.$index), 'redrow': rows.Function == 'Comments', 'standardRow' : rows.Function != 'Comments', 'stripped' : rows.Pass == 'miss' }"
                                   ui-tree-node>
                                   <td style="width:2%;background-color: #3d688c; color: white;">
                                       <button ng-click="Category.Expanded = !Category.Expanded" expand>
                                           <span ng-bind="Category.Expanded ? '-' : '+'"></span>
                                       </button>
                                   </td>
                                   <td>{{ Category.Name }}</td>
                                   <td>
                                       <a class="center-block" ng-click="AddCategoryRows($index)">
                                           <md-icon ng-hide="viewOnly" class="glyphicon glyphicon" md-svg-src="/Images/add.svg" aria-label="addGroup">
                                           </md-icon>
                                       </a>
                                   </td>
                                   <td style="width:2%;">
                                       <a class="center-block" ng-click="DeleteCategory($index)">
                                           <md-icon ng-hide="viewOnly" class="glyphicon glyphicon" md-svg-src="/Images/multiply.svg" aria-label="multiplyGroup"> </md-icon>
                                       </a>
                                   </td>
                               </tr>
                               <tr ng-show="Category.Expanded">
                                   <td style="width:2%;background-color: #3d688c; color: white;"></td>
                                   <td colspan="10">
                                       @Html.Partial("_BuilderRow2")
                                   </td>
                               </tr>

                           </tbody>
                       </table>
                </div>
            <md-fab-speed-dial ng-hide="false" md-direction="left" md-open="FabOpen"
                               class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': true}"
                               ng-mouseenter="FabOpen=true" ng-mouseleave="FabOpen=false">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                        <md-icon md-svg-src="~/Images/menu.svg"> </md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions ng-controller="configBuilderUICtrl">
                    <md-button ng-disabled="viewOnly" aria-label="Calculate" class="md-fab md-raised md-mini" ng-click="CalcButtonClick(form)"
                               type="submit">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                    md-autohide="false">
                            Calculate
                        </md-tooltip>
                        <md-icon md-svg-src="~/Images/calculator.svg"> </md-icon>
                    </md-button>
                    <md-button ng-disabled="!form.$dirty || form.$invalid || viewOnly" aria-label="Save" class="md-fab md-raised md-mini"
                               ng-click="SaveButtonClick(form)">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                    md-autohide="false">
                            Save
                        </md-tooltip>
                        <md-icon md-svg-src="~/Images/save.svg"> </md-icon>
                    </md-button>
                    <md-button ng-disabled="viewOnly" aria-label="Exit" class="md-fab md-raised md-mini"
                               ng-click="ExitButton()">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                    md-autohide="false">
                            Exit
                        </md-tooltip>
                        <md-icon md-svg-src="~/Images/exit.svg"> </md-icon>
                    </md-button>
                    <md-button ng-disabled="form.$dirty || form.$invalid || viewOnly" aria-label="Regression" class="md-fab md-raised md-mini"
                               ng-click="RegressionButtonClick('lg', form)">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                    md-autohide="false">
                            Regression
                        </md-tooltip>
                        <md-icon md-svg-src="~/Images/check-symbol.svg"> </md-icon>
                    </md-button>
                    <md-button ng-disabled="form.$dirty || form.$invalid || viewOnly" aria-label="Specification" class="md-fab md-raised md-mini"
                               ng-csv="SpecButtonClick(form)" csv-header="['Function ID', 'Name', 'Function', 'Type', 'Logic', 'Parameter']" filename="Specification.csv">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                    md-autohide="false">
                            Specification
                        </md-tooltip>
                        <md-icon md-svg-src="~/Images/file.svg"> </md-icon>
                    </md-button>
                    <md-button ng-disabled="viewOnly" aria-label="History" class="md-fab md-raised md-mini"
                               ng-click="HistoryButtonClick('lg')">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                    md-autohide="false">
                            History
                        </md-tooltip>
                        <md-icon md-svg-src="~/Images/history.svg"> </md-icon>
                    </md-button>
                    <md-button ng-if="$parent.$parent.$parent.MenuHeader == 'Function'" ng-disabled="viewOnly" aria-label="History" class="md-fab md-raised md-mini"
                               ng-click="ImpactAssessmentButtonClick()">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                    md-autohide="false">
                            Impact Assessment
                        </md-tooltip>
                        <md-icon md-svg-src="~/Images/Impactlist.svg"> </md-icon>
                    </md-button>
                    <md-button aria-label="CloseAll" class="md-fab md-raised md-mini"
                               ng-click="CloseAllButton()">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                    md-autohide="false">
                            Close All
                        </md-tooltip>
                        <md-icon md-svg-src="~/Images/directional-arrow.svg"> </md-icon>
                    </md-button>
                    <md-button aria-label="OpenAll" class="md-fab md-raised md-mini"
                               ng-click="OpenAllButton()">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                    md-autohide="false">
                            Open All
                        </md-tooltip>
                        <md-icon md-svg-src="~/Images/down-arrow.svg"> </md-icon>
                    </md-button>
                    <md-button ng-if="Function == true" aria-label="Impact" class="md-fab md-raised md-mini"
                               ng-click="ImpactAssessmentButtonClick()">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                    md-autohide="false">
                            Impact Assessment
                        </md-tooltip>
                        <md-icon md-svg-src="~/Images/list.svg"> </md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>

                @*@Html.Partial("_FABButtonConfiguration");*@
        </md-content>
        @Html.Partial("_FunctionBar")    
    </form>
</md-content>
