<md-list flex="" ng-model="Category.Functions" ui-tree-nodes="" >
    <md-list-item class="md-dense" ng-repeat="rows in Category.Functions" ng-click="selectRow($event, $index, $parent.$index)"    
                  ng-class="{selected: isRowSelected($index, $parent.$index), 'redrow': rows.Function == 'Comments', 'standardRow' : rows.Function != 'Comments', 'stripped' : rows.Pass == 'miss' }"
                  style="border-radius:5px; border-style:solid; border-width:thin; border-color:lightgray; margin-bottom:2px;" context-menu="rowMenuOptions" 
                  name="RowForm_{{$parent.$index}}_{{$index}}" id="RowForm_{{$parent.$index}}_{{$index}}" ui-tree-node>
            <div id="functionrowWrapper">
            <div class="slide-container text-center" style="width:3%">
                <a class="pull-left" ng-if="Category.Name != 'Input'">                   
                   <span ui-tree-handle><img ng-hide="viewOnly" src="~/Images/checklist.png"></span>
                </a>
            </div>
            <div class="v-separator"><h1></h1></div>
            <div class="slide-container" style="width:12%">
                <h6> Function: &nbsp;</h6>
                <h4>{{ rows.Function }}</h4>
            </div>
            <div class="v-separator"><h1></h1></div>
            <div class="slide-container" style="width:7%">
                <h6> Type: &nbsp;</h6>
                <h4>{{ rows.Type }}</h4>
            </div>

            <div class="v-separator"><h1></h1></div>
                <div class="slide-container" style="width:19%">
                    <h6>Name: &nbsp;</h6>
                    <h4>{{ rows.Name }}</h4>
                </div>
            <div class="v-separator"><h1></h1></div>
            <div class="slide-container" style="width:45%">
                <h6>Output: &nbsp;</h6>
                <h4>{{ rows.Output }}</h4>
            </div>
            <div class="v-separator"><h1></h1></div>
            <div class="slide-container" style="width:2%; text-align:center">
                <h6>&nbsp;</h6>
                <md-icon ng-if="rows.Pass == 'true'" md-svg-src="/Images/checked.svg"> </md-icon>
                <md-icon ng-if="rows.Pass == 'false'" md-svg-src="/Images/multiply.svg"> </md-icon>
                <a ng-show="rows.SubOutput != null " data-nodrag ng-click="SubOutputButtonClick('lg', $parent.$index, $index, rows.SubOutput)">
                    <i ng-hide="viewOnly" class="glyphicon glyphicon-search"></i>
                </a>
            </div>
        </div>
    </md-list-item>   
</md-list>

