<md-content  ng-controller="configCtrl" layout-gt-sm="row" layout="row" 
       ng-cloak> 
    <form name="form" role="form" ng-submit="calcbuttonclick(form)" layout="row" style="width:100%">
        @Html.Partial("_FunctionBar")  
        <md-content flex="70" layout-padding="" layout="column" style="padding:0px; border-left: thin solid; border-left-color: #e8e1d6">      
            <ul>
                <li ng-repeat="(key, errors) in form.$error track by $index">
                    <strong>{{ key }}</strong> errors
                    <ul>
                        <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>. <a ng-click="focusButtonClick($event, e.$name)">Focus</a></li>
                    </ul>
                </li>
            </ul>
            <div ui-tree="treeOptions" ng-controller="configBuilderColumnCtrl">
                <div class="center-block" ng-include="'/Areas/Project/Scripts/busyModal.html'" ng-show="isLoading"></div>
                <uib-accordion close-others=false ui-tree-nodes=""   ng-model="config" data-nodrop-enabled="true">
                    <div uib-accordion-group ng-repeat="Category in config" ng-init="colIndex = $index" is-open="openIndex[$index]" layout="column" context-menu="columnMenuOptions" ui-tree-node>
                        <uib-accordion-heading>                         
                            <div class="slide-container">
                                {{Category.Name}}                              
                            </div>
                            <div class="slide-container pull-right">
                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openIndex[$index], 'glyphicon-chevron-right': !openIndex[$index]}"></i>
                            </div>
                        </uib-accordion-heading>
                        @Html.Partial("_BuilderRow")
                    </div>
                </uib-accordion>
            </div>
            @Html.Partial("_FABButton")
        </md-content>    
    </form>
</md-content>
