<md-list flex="" ng-model="Category.Functions">
    <md-list-item class="md-dense" ng-repeat="rows in Category.Functions" ng-click="selectRow($event, $index, $parent.$index)" 
                  ng-class="{selected: isRowSelected($index, $parent.$index), 'redrow': rows.Function == 'Comments'}"
                  style="border-radius:5px; border-style:solid; border-width:thin; border-color:lightgray; margin-bottom:2px">
        <div id="functionrowWrapper" >
            <div class="slide-container" style="width:20%">
                <a class="pull-left btn " data-nodrag ng-click="AddFunctionRows($parent.$index, $index)">
                    <span class="glyphicon glyphicon"><img ng-hide="viewOnly" src="~/Images/plus.png"></span>
                </a>
                <a ng-show="isRowSelected($index, $parent.$index) && $index > 0" class="pull-left btn " data-nodrag ng-click="DeleteFunction($parent.$index, $index)">
                    <span class="glyphicon glyphicon"><img ng-hide="viewOnly" src="~/Images/multiply2.png"></span>
                </a>
                <a ng-show="isRowSelected($index, $parent.$index)" class="pull-left btn " data-nodrag ng-click="CopyFunction($parent.$index, $index)">
                    <span class="glyphicon glyphicon"><img ng-hide="viewOnly" src="~/Images/copy.png"></span>
                </a>
                <a ng-show="isRowSelected($index, $parent.$index)" class="pull-left btn " data-nodrag ng-click="PasteFunction($parent.$index, $index)">
                    <span class="glyphicon glyphicon"><img ng-hide="viewOnly" src="~/Images/paste-clipboard.png"></span>
                </a>
            </div>
            <div class="v-separator"></div>
            <div class="slide-container" style="width:15%">
                <h6>Function:</h6>
                <h5>{{ rows.Function }}</h5>
            </div>
            <div class="v-separator"></div>
            <div class="slide-container" style="width:15%">
                <h6>Name:</h6>
                <h5>{{ rows.Name }}</h5>
            </div>
            <div class="v-separator"></div>
            <div class="slide-container" style="width:50%">
                <h6>Output:</h6>
                <h5>{{ rows.Output }}</h5>
            </div>
            <img ng-if="rows.Pass == 'true'" src="~/Images/checked.png">
            <img ng-if="rows.Pass == 'false'" src="~/Images/multiply.png">
            <a ng-show="isRowSelected($index, $parent.$index) && rows.SubOutput != null " data-nodrag ng-click="SubOutputButtonClick('lg', $parent.$index, $index, rows.SubOutput)">
                <i ng-hide="viewOnly" class="glyphicon glyphicon-search"></i>
            </a>
        </div>
    </md-list-item>

</md-list>