<div class="nav navbar-nav pull-right">
    <div class="navbar-text">Search</div>
    <div class="input-group">
        <input type="text" class="form-control form-inline input" ng-model="test" placeholder="Filter">
    </div>
</div>
<br />
<br />
<uib-accordion close-others=false ng-model="Boards">
    <div uib-accordion-group ng-repeat="(key, value) in Boards | groupBy: 'Scheme'" ng-init="colIndex = $index" is-open="openIndex[$index]">
        <uib-accordion-heading>
            {{key}}
            <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': openIndex[$index], 'glyphicon-chevron-right': !openIndex[$index]}"></i>
        </uib-accordion-heading>
        <br />
        <br />
        <table class="table table-bordered table table-responsive">
            <thead>
                <tr>
                    <th>
                        <a href="#" ng-click="orderByField='Scheme'; reverseSort = !reverseSort">
                            Scheme <span ng-show="orderByField == 'Scheme'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="orderByField='Name'; reverseSort = !reverseSort">
                            Name <span ng-show="orderByField == 'Name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="orderByField='User'; reverseSort = !reverseSort">
                            User <span ng-show="orderByField == 'User'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="orderByField='UpdateDate'; reverseSort = !reverseSort">
                            Updated <span ng-show="orderByField == 'UpdateDate'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
                        </a>
                    </th>
                    <th>
                        Version
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="board in value | orderBy:orderByField:reverseSort | filter : test">
                    <td ng-hide="editingData[board.ID]" ng-click="openBoard(board)" ng-cloak>{{board.Scheme}}</td>
                    <td ng-show="editingData[board.ID]"><select class="form-control  input-sm" ng-model='board.Scheme' ng-options='scheme for scheme in SchemeList' required></select></td>
                    <td ng-hide="editingData[board.ID]" ng-click="openBoard(board)" ng-cloak>{{board.Name}}</td>
                    <td ng-show="editingData[board.ID]"><input class="form-control text-box single-line" type="text" ng-model="board.Name" /></td>
                    <td width="10%" ng-click="openBoard(board)" ng-cloak>{{board.User}}</td>
                    <td width="20%" ng-click="openBoard(board)" ng-cloak>{{board.UpdateDate | date:'d MMMM yyyy h:mm a'}}</td>
                    <td width="5%" ng-click="openBoard(board)" ng-cloak>{{board.Version | number: 3}}</td>
                    <td width="35%">
                        <button class="btn btn-default" ng-click="viewBoard(board)">View Only</button>
                        <button class="btn btn-success" ng-click="updateBoard(board)">Modify</button>
                        <input type="button" class="btn btn-danger" value="Delete" ng-click="deleteBoard(board)" />
                        <button class="btn btn-info" ng-click="copyBoard(board)">Copy</button>
                        <button ng-if="Function != true" class="btn btn-group" ng-click="releaseBoard(board)">Release</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</uib-accordion>
