<body ng-controller="mathsCtrl">
    <div>
        <div class="modal-header">
            <h4>Maths</h4>
        </div>
        <div class="modal-body">

            <form name="form" role="form" ng-submit="ok(form)">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Input 1</th>
                            <th>Logic</th>
                            <th>Input 2</th>
                            <th></th>
                            <th>Rounding</th>
                            <th>RType</th>
                            <th>Logic</th>
                            <th>
                                <a data-nodrag ng-click="addItem($index)">
                                    <span class="center-block glyphicon glyphicon-plus"></span>
                                </a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rows in maths">
                            <td width="10%">
                                <select name="BracketLeft_{{$index}}" ng:model="rows.Bracket1" class="form-control">
                                    <option value=""></option>
                                    <option value="(">(</option>
                                </select>
                                <p ng-show="form['BracketLeft_'+ $index].$error.bracketnotclosed" class="help-block">Not Closed</p>
                            </td>

                            <td width="20%"><span uib-popover="{{data || rows.Input1}}" popover-trigger="mouseenter"><input type="text" ng:model="rows.Input1" uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" class="form-control" required></span></td>

                            <td width="10%">
                                <select name="LogicSelect" ng:model="rows.Logic" class="form-control" required>
                                    <option value=""></option>
                                    <option value="+">+</option>
                                    <option value="-">-</option>
                                    <option value="/">/</option>
                                    <option value="*">*</option>
                                    <option value="Pow">^</option>
                                </select>
                            </td>

                            <td width="20%"><span uib-popover="{{data || rows.Input2}}" popover-trigger="mouseenter" ><input type="text" ng:model="rows.Input2" uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" class="form-control" required></span></td>
                            <td width="10%">
                                <select name="BracketRight_{{$index}}" ng:model="rows.Bracket2" class="form-control">
                                    <option value=""></option>
                                    <option value=")">)</option>
                                </select>
                                <p ng-show="form['BracketRight_'+ $index].$error.bracketnotopen" class="help-block">Not Open</p>
                            </td>
                            <td width="10%" ng-show="!$last"></td>
                            <td width="10%" ng-show="$last">
                                <select name="RoundSelect" ng:model="rows.Rounding" class="form-control">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                </select>
                            </td>
                            <td width="10%" ng-show="!$last"></td>
                            <td width="10%" ng-show="$last">
                                <select id="inclusive" name="singleSelect" ng:model="rows.RoundingType" class="form-control">
                                    <option value=""></option>
                                    <option value="up">Up</option>
                                    <option value="down">Down</option>
                                </select>
                            </td>
                            <td width="10%">
                                <select name="Operator_{{$index}}" ng:model="rows.Logic2" class="form-control">
                                    <option value=""></option>
                                    <option value="+">+</option>
                                    <option value="-">-</option>
                                    <option value="/">/</option>
                                    <option value="*">*</option>
                                    <option value="Pow">^</option>
                                </select>
                                <p ng-show="form['Operator_'+ $index].$error.clause" class="help-block">Clause and no row below</p>
                                <p ng-show="form['Operator_'+ $index].$error.clauseblank" class="help-block">No clause and a row below</p>
                            </td>
                            <td width="5%">
                                [<a ng:click="removeMathsItem($index)">X</a>]
                            </td>
                            <td>
                                <a data-nodrag ng-click="addItem($index)">
                                    <i class="center-block glyphicon glyphicon-plus"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </form>
        </div>

    </div>

</body>
