<fieldset>
    <legend>Maths Builder</legend>
    <div layout="row" ng-repeat="val in rows.Parameter">
        <md-input-container flex="1">
            <md-select name="BracketLeft_{{$index}}" ng:model="val.Bracket1">
                <md-option value=""></md-option>
                <md-option value="(">(</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="45">
            <label>Input</label>
            <input ng:model="val.Input1" uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" required>
        </md-input-container>
        <md-input-container flex="1">
            <md-select name="Function_{{$index}}" ng:model="val.Logic">
                <md-option value="+">+</md-option>
                <md-option value="-">-</md-option>
                <md-option value="/">/</md-option>
                <md-option value="*">*</md-option>
                <md-option value="Pow">^</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="45">
            <label>Input</label>
            <input ng:model="val.Input2" uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" required>
        </md-input-container>
        <md-input-container flex="1">
            <md-select name="BracketRight_{{$index}}" ng:model="val.Bracket2">
                <md-option value=""></md-option>
                <md-option value="web">)</md-option>
            </md-select>
        </md-input-container>
        <md-input-container flex="1">
            <md-select mathsoperatorcheck config='[rows.Parameter]' name="Operator_{{$index}}"  id="Operator_{{$index}}" ng:model="val.Logic2">
                <md-option value=""></md-option>
                <md-option value="+">+</md-option>
                <md-option value="-">-</md-option>
                <md-option value="/">/</md-option>
                <md-option value="*">*</md-option>
                <md-option value="Pow">^</md-option>
            </md-select>
        </md-input-container>
    </div>
</fieldset>
<md-content class="md-no-momentum" layout-margin="">
    <md-button ng-click="addMathsItem($index)" class="md-accent">
        Click to Add New Row
    </md-button>
</md-content>
<md-content class="md-no-momentum" layout-margin="">
    <md-button ng-click="removeMathsItem()" class="md-accent">
        Click to Remove Last Row
    </md-button>
</md-content>
<md-input-container class="md-block" flex-gt-sm>
    <md-select name="RoundSelect" ng:model="rows.Parameter.Rounding">
        <md-option value="0">0</md-option>
        <md-option value="1">1</md-option>
        <md-option value="2">2</md-option>
        <md-option value="3">3</md-option>
        <md-option value="4">4</md-option>
        <md-option value="5">5</md-option>
        <md-option value="6">6</md-option>
    </md-select>
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
    <md-select id="inclusive" name="singleSelect" ng:model="rows.Parameter.RoundingType">
        <md-option value=""></md-option>
        <md-option value="up">Up</md-option>
        <md-option value="down">Down</md-option>
    </md-select>
</md-input-container>

