<body ng-controller="mathsCtrl">
    <div>
        <div class="modal-header">
            <h4>Maths</h4>
        </div>
        <div class="modal-body">

            <!--<div class="form-group">
                <label for="Type" class="control-label col-md-2">Rounding</label>
                <div class="col-sm-9">
                    <select id="inclusive" name="singleSelect" ng:model="Rounding" class="form-control">
                        <option value=""></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="Type" class="control-label col-md-2">Rounding Type</label>
                <div class="col-sm-9">
                    <select id="inclusive" name="singleSelect" ng:model="RoundingType" class="form-control">
                        <option value=""></option>
                        <option value="down">Down</option>
                        <option value="up">Up</option>
                        <option value="midDown">Mid Down</option>
                        <option value="midUp">Mid Up</option>
                    </select>
                </div>
            </div>-->
            <form name="form" role="form" ng-submit="ok(form)">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Input 1</th>
                            <th>Logic</th>
                            <th>Input 2</th>
                            <th></th>
                            <th>Logic</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="rows in maths">
                            <td width="10%">
                                <select name="BracketLeft_{{$index}}" ng:model="rows.Bracket1" class="form-control">
                                    <option value=""></option>
                                    <option value="(">(</option>
                                </select>
                                <span ng-show="form['BracketLeft_'+ $index].$error.bracketnotclosed">Not closed</span>
                            </td>

                            <td width="20%"><span><input type="text" ng:model="rows.Input1" uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" class="form-control" required></span></td>

                            <td width="10%">
                                <select name="singleSelect" ng:model="rows.Logic" class="form-control" required>
                                    <option value=""></option>
                                    <option value="+">+</option>
                                    <option value="-">-</option>
                                    <option value="/">/</option>
                                    <option value="*">*</option>
                                    <option value="Pow">^</option>
                                </select>
                            </td>

                            <td width="20%"><span><input type="text" ng:model="rows.Input2" uib-typeahead="state for state in DecimalNames | filter:$viewValue | limitTo:8" class="form-control" required></span></td>
                            <td width="10%">
                                <select name="BracketRight_{{$index}}" ng:model="rows.Bracket2" class="form-control">
                                    <option value=""></option>
                                    <option value=")">)</option>
                                </select>
                                <span ng-show="form['BracketRight_'+ $index].$error.bracketnotopen">Not Open</span>
                            </td>
                            <td width="10%">
                                <select name="Operator_{{$index}}" ng:model="rows.Logic2" class="form-control">
                                    <option value=""></option>
                                    <option value="+">+</option>
                                    <option value="-">-</option>
                                    <option value="/">/</option>
                                    <option value="*">*</option>
                                    <option value="Pow">^</option>
                                </select>
                                <span ng-show="form['Operator_'+ $index].$error.clause">There is a clause and no row below</span>
                                <span ng-show="form['Operator_'+ $index].$error.clauseblank">There is no clause and a row below</span>
                            </td>
                            <td width="5%">
                                [<a ng:click="removeMathsItem($index)">X</a>]
                            </td>
                        </tr>
                        <tr>
                            <td><a ng:click="addItem($index)" class="btn btn-default">Add</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </form>
        </div>

    </div>

</body>
